<section class="blog">
	<div class="container">
		<div class="blog-top">
			<h2 class="content-title">Блог</h2>
			<button class="btn btn-purple blog-top__btn">Перейти в раздел</button>
		</div>
		<div class="blog-body">
			<div class="blog-body__column blog-body__column-big">
				<div class="blog-item  blog-card blog-card--l">
					<div class="blog-body__img blog-body__img-big">
						<img class="blog__img-big" src="@img/blog-img--big.jpg" alt="">
					</div>
					<div class="blog-item__info">
						<p class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</p>
						<date class="blog-item__date">15:00 | 08:15 </date>
					</div>
				</div>
			</div>
			<div class="blog-body__column blog-body__column-small">
				<div class="blog-item blog-card blog-card--s">
					<div class="blog-body__img">
						<img class="blog__img" src="@img/blog-img-1.jpg" alt="">
					</div>
					<div class="blog-item__info">
						<p class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</p>
						<date class="blog-item__date">15:00 | 08:15 </date>
					</div>
				</div>
				<div class="blog-item blog-card blog-card--s">
					<div class="blog-body__img">
						<img class="blog__img" src="@img/blog-img-2.jpg" alt="">
					</div>
					<div class="blog-item__info">
						<p class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</p>
						<date class="blog-item__date">15:00 | 08:15 </date>
					</div>
				</div>
				<div class="blog-item blog-card blog-card--s">
					<div class="blog-body__img">
						<img class="blog__img" src="@img/blog-img-3.jpg" alt="">
					</div>
					<div class="blog-item__info">
						<p class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</p>
						<date class="blog-item__date">15:00 | 08:15 </date>
					</div>
				</div>
				<div class="blog-item blog-card--s">
					<div class="blog-body__img">
						<img class="blog__img" src="@img/blog-img-4.jpg" alt="">
					</div>
					<div class="blog-item__info">
						<p class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</p>
						<date class="blog-item__date">15:00 | 08:15 </date>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>