.modal {
	display: none;

	border-radius: rem(15);
	width: 100%;
	max-width: rem(600);
	padding: rem(60) rem(105) rem(42) rem(94);

	@media(max-width:768px) {
		padding: rem(40) rem(15);
	}

	&__title {
		font-size: rem(20);
		line-height: rem(24);
		font-weight: 800;
		margin: 0 0 rem(35);
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: rem(25);

	&__item {
		display: flex;
		flex-direction: column;
		gap: rem(5);
	}

	&__label {
		font-size: rem(14);
		line-height: rem(24);
		color: #000;
		font-weight: 500;

		a {
			color: #000;
			text-decoration: underline;
		}
	}

	&__input {
		padding: rem(13) 0 rem(13) rem(20);
		border-radius: rem(10);
		border: 1px $gray solid;
		outline: none !important;
		font-size: rem(14);
		line-height: rem(24);
		color: #000;

		&::placeholder {
			color: $text-gray;
		}


		&:active,
		&:focus {
			input {
				border: 1px $gray solid;
				outline: none !important;
			}
		}
	}

	&__item-content-btn {
		display: flex;
		gap: rem(25);
	}

	&__item-content-comment {
		display: block;
		margin: rem(17) 0 0;
		padding-right: rem(10);

	}

	&__item-agreement {
		display: flex;
		gap: rem(20);
	}


	&__btn-send {
		margin: rem(40) 0 0;
		align-self: flex-start;

		@media(max-width:768px) {
			align-self: auto;
		}
	}
}

.checkbox {
	display: none;
	visibility: hidden;


	&__label {

		width: rem(72);
		height: rem(30);
		border-radius: rem(30);
		background-color: $purple;
		position: relative;
		transition: all .3s linear;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: rem(46);
			transform: translateY(-50%);

			width: rem(22);
			height: rem(22);
			border-radius: 50%;

			background-color: #fff;
			transition: all .3s linear;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 70%;
			height: 70%;
			top: 50%;
			left: rem(30);
			transform: translateY(-50%);

			background-image: url("../img/icons/icons.svg#close");
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: all .2s linear;
		}
	}

	&__btn {
		display: none;
		visibility: hidden;
	}

	&__btn-label {
		width: 100%;
		height: 100%;
		max-width: rem(20);
		max-height: rem(20);
		border-radius: rem(3);
		background-color: #E3E9F2;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);

			width: rem(10);
			height: rem(10);
			border-radius: rem(3);
		}
	}
}


.checkbox:disabled+.checkbox__label {
	background-color: #E3E9F2;

}

.checkbox:checked+.checkbox__label {
	background-color: #E3E9F2;

	&::before {
		left: rem(4);
		background-color: #C0CCDF;
	}

	&::after {
		opacity: 1;
	}
}

.checkbox:checked+.form__item-content-comment {
	display: none
}

.checkbox__btn:checked+.checkbox__btn-label::before {
	opacity: 1;
	background-color: $purple;
}