.cards-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards-item {
	width: 100%;
	max-width: 390px;
	max-height: 339px;
	border-radius: 20px;
	background-color: #fff;
	transition: box-shadow .3s ease;

	// &:hover {
	// 	box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, .2);
	// }

}