.form-call {

	&__input {
		width: 100%;
		max-width: 285px;
		border: 1px solid $light-gray;
		border-radius: 30px;
		padding: 13px 128px 13px 20px;
		background-color: transparent;
		color: #fff;

		margin: 0 30px 0 0;

		&::placeholder {
			color: $light-gray;
		}

		@media(max-width:1200px) {
			margin: 0 0 15px 0;
			max-width: 100%;
		}
	}
}