.mb50 {
	margin-bottom: 50px;
}

.mb60 {
	margin-bottom: 60px;
}

.mb100 {
	margin-bottom: 100px;
}

.mt50 {
	margin-top: 50px;
}

.mt60 {
	margin-top: 60px;
}

.mt100 {
	margin-top: 100px;
}

.mr50 {
	margin-right: 50px;
}

.mr100 {
	margin-right: 100px;
}

.ml50 {
	margin-left: 50px;
}

.ml100 {
	margin-left: 100px;
}