.pb50 {
	padding-bottom: 50px;
}

.pb100 {
	padding-bottom: 100px;
}

.pt50 {
	padding-top: 50px;
}

.pt100 {
	padding-top: 100px;
}

.pr50 {
	padding-right: 50px;
}

.pr100 {
	padding-right: 100px;
}

.pl50 {
	padding-left: 50px;
}

.pl100 {
	padding-left: 100px;
}