.modal-gallery {
	width: 100%;
	height: fit-content;
	max-height: 100%;
	max-width: rem(810);
	padding: 50px 50px 30px 40px;
	border-radius: 20px;
}

.carousel__button.is-close {
	top: rem(40) !important;
	right: rem(40) !important;
	color: $text-gray  !important;
}