.video-play-icon {
	width: rem(16);
	height: rem(20);
	border-radius: 2px;

	position: absolute;
	bottom: rem(20);
	left: rem(23);
	z-index: 2;
}

.video-play-btn {
	position: relative;
	top: rem(-50);
	left: 85%;
	width: rem(60);
	height: rem(60);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);

	@media(max-width:1200px) {
		top: rem(-45);
		left: 55%;
	}
}