<section class="area">
	<div class="container">
		<div class="area-inner">
			<div class="area-inner__order">
				<div class="order-group">
					<h4 class="order-group__title">Как купить онлайн?</h4>
					<p class="order-group__text">Всё просто, мы вместе с вами проконтролируем весь процесс сделки, от
						выбора
						апартаментов до финального оформления сделки.</p>
					<div class="order-group__btn-wrapper">
						<button class="btn btn--order">Оставить заявку на расчёт</button>
						<span class="order-group__or">или</span>
						<a class="btn btn--order btn--link" href="" download="">Скачать презентацию</a>
					</div>
				</div>
				<div class="area-inner__img-wrapper">
					<img class="area-inner__img" src="@img/area.jpg" alt="">
				</div>
			</div>
			<div class="area-inner__info">
				<h2 class="common-title">Район<br>расположения:</h2>
				<div class="area-inner__text">
					<p><b>Jumeirah Village Circle (JVC)</b> востребованный и престижный район Дубая,
						который также считается экологическим.</p><br>
					<p><b>Hamilton House</b> - это проект со студиями и апартаментами
						премиум класса. Рядом с комплексом расположены коммерческие здания, большое количество
						торгово-развлекательных объектов, кафе, ресторанов и офисов.</p>
				</div>
			</div>
		</div>
	</div>
</section>