<div class="article pt100 pb100">
	<img class="article__img" src="@img/seo__img.png" alt="Фото: Увеличим не только трафик, но и продажи">
	<div class="article-info">
		<h3 class="article-info__subtitle content-subtitle">Увеличим не только трафик, но и продажи</h3>
		<h1 class="article-info__title content-title">Вы готовы оказаться<br>в топе поиска?</h1>
		<p class="article-info__text">Мы много лет занимаемся созданием и продвижением сайтов. За годы накопилось
			очень много работающих способов продвинуть сайт и настроить поток клиентов в бизнес, мы готовы
			поделиться ими с вами.</p>
		<button class="btn btn-purple article-info__btn">Узнать подробнее</button>
	</div>
</div>