<section class="blog">
	<div class="container">
		<div class="section-header--btn blog-header">
			<h2 class="content-title--55">Блог</h2>
			<button class="btn btn-purple blog__btn mobile--hidden">Перейти в раздел</button>
		</div>
		<div class="blog-body">
			<div class="blog-item">
				<div class="blog-item__img-wrapper blog-item__img-wrapper--big">
					<img class="blog-item__img--big" src="@img/blog-img--big.jpg"
						alt="Фото:Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP">
				</div>
				<div class="blog-item__info blog-item__info--big">
					<h5 class="blog-item__title blog-item__title--big">
						<a class="blog-item__link" href="#">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx
							LDAP</a>
					</h5>
					<p class="blog-item__text">В начале апреля хакерская группа BlueHornet заявила об
						уязвимости нулевого дня
						в ПО В начале апреля
						хакерская группа BlueHornet заявила об уязвимости нулевого дня в ПО .В начале апреля хакерская группа
						BlueHornet заявила об уязвимости нулевого дня в читать далее</p>
					<time class="blog-item__date blog-item__date--big btn btn-purple" datetime="2022-07-15 08:15">15 июля |
						08:15</time>
				</div>
			</div>

			<div class="blog-item">
				<div class="blog-item__img-wrapper">
					<img class="blog-item__img" src="@img/blog-img-1.jpg"
						alt="Фото:Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">
						<a class="blog-item__link" href="#">Хакеры протестировали эксплойт
							уязвимости нулевого дня в Nginx LDAP</a>
					</h5>
					<time class="blog-item__date" datetime="2022-07-15 08:15">15:00 | 08:15 </time>
				</div>
			</div>
			<div class="blog-item">
				<div class="blog-item__img-wrapper">
					<img class="blog-item__img" src="@img/blog-img-2.jpg"
						alt="Фото:Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">
						<a href="#" class="blog-item__link">Хакеры протестировали эксплойт
							уязвимости
							нулевого дня в Nginx LDAP</a>
					</h5>
					<time class="blog-item__date" datetime="2022-07-15 08:15">15:00 | 08:15 </time>
				</div>
			</div>
			<div class="blog-item">
				<div class="blog-item__img-wrapper">
					<img class="blog-item__img" src="@img/blog-img-3.jpg"
						alt="Фото:Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">
						<a href="#" class="blog-item__link">Хакеры протестировали эксплойт
							уязвимости нулевого дня в Nginx LDAP</a>
					</h5>
					<time class="blog-item__date" datetime="2022-07-15 08:15">15:00 | 08:15 </time>
				</div>
			</div>
			<div class="blog-item">
				<div class="blog-item__img-wrapper">
					<img class="blog-item__img" src="@img/blog-img-4.jpg"
						alt="Фото:Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">
						<a href="#" class="blog-item__link">Хакеры протестировали эксплойт
							уязвимости нулевого дня в Nginx LDAP</a>
					</h5>
					<time class="blog-item__date" datetime="2022-07-15 08:15">15:00 | 08:15 </time>
				</div>
			</div>
		</div>
		<button class="btn btn-purple blog__btn--mobile">Перейти в раздел</button>
	</div>
</section>