<div class="blog">
	<div class="container">
		<div class="blog-top d-f s-b">
			<h2 class="content-title">Блог</h2>
			<button class="btn btn-purple blog-top__btn">Перейти в раздел</button>
		</div>
		<div class="blog-body">
			<div class="blog-item  blog-card blog-card--big">
				<div class="blog-body__img blog-body__img-big">
					<img class="blog__img-big" src="@img/blog-img--big.jpg" alt="">
				</div>
				<div class="blog-item__info blog-item__info--big content-text--white">
					<h5 class="blog-item__title blog-item__title--big content-text--white">Хакеры протестировали эксплойт
						уязвимости нулевого дня в
						Nginx LDAP</h5>
					<p class="blog-item__text">В начале апреля хакерская группа BlueHornet заявила об уязвимости нулевого дня
						в ПО В начале апреля
						хакерская группа BlueHornet заявила об уязвимости нулевого дня в ПО .В начале апреля хакерская группа
						BlueHornet заявила об уязвимости нулевого дня в читать далее</p>
					<date class="blog-item__date blog-item__date--white btn btn-purple">15 июля | 08:15</date>
				</div>
			</div>
			<div class="blog-item blog-card blog-card--s">
				<div class="blog-body__img">
					<img class="blog__img" src="@img/blog-img-1.jpg" alt="">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</h5>
					<date class="blog-item__date">15:00 | 08:15 </date>
				</div>
			</div>
			<div class="blog-item blog-card blog-card--s">
				<div class="blog-body__img">
					<img class="blog__img" src="@img/blog-img-2.jpg" alt="">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</h5>
					<date class="blog-item__date">15:00 | 08:15 </date>
				</div>
			</div>
			<div class="blog-item blog-card blog-card--s">
				<div class="blog-body__img">
					<img class="blog__img" src="@img/blog-img-3.jpg" alt="">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</h5>
					<date class="blog-item__date">15:00 | 08:15 </date>
				</div>
			</div>
			<div class="blog-item blog-card--s">
				<div class="blog-body__img">
					<img class="blog__img" src="@img/blog-img-4.jpg" alt="">
				</div>
				<div class="blog-item__info">
					<h5 class="blog-item__title">Хакеры протестировали эксплойт уязвимости нулевого дня в Nginx LDAP</h5>
					<date class="blog-item__date">15:00 | 08:15 </date>
				</div>
			</div>
		</div>
	</div>
</div>