<section class="contact">
	<div class="container">
		<div class="contact-inner">
			<div class="contact-inner__info">
				<p class="contact-inner__info-text">Оставьте ваши<br>контактые<br>данные.<br>
					<span></span> <br>
					Мы обязательно<br>свяжемся с вами
				</p>
				<img class="contact-inner__info-img" src="@img/contacts.jpg" alt="">
			</div>
			<form class="contact-form" action="post">
				<div class="contact-form__input-wrapper">
					<label class="contact-form__label" for="name">Ваше имя</label>
					<input class="contact-form__input" id="name" name="name" type="text" placeholder="Александра">
				</div>

				<div class="contact-form__input-wrapper">
					<label class="contact-form__label" for="email">Ваша почта</label>
					<input class="contact-form__input" id="email" name="email" type="email" placeholder="mail@gmail.com">
				</div>

				<div class="contact-form__input-wrapper">
					<label class="contact-form__label" for="tel">Ваш номер телефона</label>
					<input class="contact-form__input" id="tel" name="tel" type="tel" placeholder="+7 (000) 000 00 00">
				</div>

				<button class="btn btn--contact" type="submit">Узнать подробности</button>
			</form>
		</div>
	</div>
</section>