<section class="section credits bg-grey">
	<div class="container">
		<div class="section-header--btn credits-header">
			<div class="section-header__title">
				<h2 class="section-top__title content-title--55">благодарности</h2>
				<h3 class="section-top__text content-text--20">от наших клиентов</h3>
			</div>
			<button class="btn btn-purple section-top__btn mobile--hidden">Все благодарности</button>
		</div>

		<div class="section-wrapper credits-wrapper">
			<div class="credits-slider__text">
				<p class="content-text credits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt
					tempor sem lorem nec. <br>
					<br><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt
						tempor sem lorem nec.</span>
				</p>
			</div>

			<div class="slider credits-slider" data-slider data-slider-slides="1.8">
				<div class="swiper  slider__main ">
					<div class="swiper-wrapper">
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
						<div class="swiper-slide slider__slide slider__slide--mob-width-240">
							<div class="credits-slider__item" data-fancybox data-src="@img/credits__img.jpg">
								<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg"
									alt="Фото: Благодарность клиента">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-purple btn--mobile credits__btn--mobile">Все благодарности</button>
	</div>
</section>