<div class="credits-top">
	<div class="credits-top__header">
		<h2 class="credits-top__title content-title">благодарности</h2>
		<h3 class="credits-top__text">от наших клиентов</h3>
	</div>
	<button class="btn btn-purple credits-top__btn">Все благодарности</button>
</div>


<div class="credits-wrapper">
	<div class="credits-slider__text">
		<p class="content-text credits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt
			tempor sem lorem nec. <br>
			<br><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt
				tempor sem lorem nec.</span>
		</p>
	</div>
	<div class="credits-slider__wrapper">
		<div class="credits-slider swiper">
			<div class="credits-slider__body swiper-wrapper">
				<div class="credits-slider__item swiper-slide">
					<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg" alt="">
				</div>
				<div class="credits-slider__item swiper-slide">
					<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg" alt="">
				</div>
				<div class="credits-slider__item swiper-slide">
					<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg" alt="">
				</div>
				<div class="credits-slider__item swiper-slide">
					<img class="credits-slider__img swiper-slide__img" src="@img/credits__img.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>