<section class="experts">
	<div class="container">
		<h2 class="common-title">Мнения экспертов</h2>
		<div class="slider-body">
			<div class="card">
				<div class="card__person">
					<img class="card__person-userpic" src="@img/view-1.jpg" alt="Диана Хватова">
					<div class="card__person-info">
						<p class="card__person-name">Диана Хватова</p>
						<p class="card__person-prof">Эксперт проекта</p>
					</div>
				</div>
				<div class="card__text">
					<svg class="quotes quotes--top">
						<use xlink:href="#quotes"></use>
					</svg>
					<p>При проектировании квартир специалисты особенно детально подошли к проработке кухни,
						где мы проводим достаточно много времени каждый день. Кухня с открытой планировкой будет создана по
						индивидуальному заказу, с наличием большого свободного пространства для приготовления и приема пищи,
						оснащенная современной мебелью и бытовой техникой.</p>
					<svg class="quotes">
						<use xlink:href="#quotes"></use>
					</svg>
				</div>

			</div>
			<div class="card">
				<div class="card__person">
					<img class="card__person-userpic" src="@img/view-2.jpg" alt="Дилфуза Раджапова">
					<div class="card__person-info">
						<p class="card__person-name">Дилфуза Раджапова</p>
						<p class="card__person-prof">Эксперт проекта</p>
					</div>
				</div>
				<div class="card__text"><svg class="quotes quotes--top">
						<use xlink:href="#quotes"></use>
					</svg>
					<p>Жилой комплекс Hamilton House представляет собой спокойное, безмятежное
						пространство, расположенное в «сердце Дубая», недалеко от всех основных достопримечательностей
						эмирата. В
						этом районе также находится много парков, школ и широкий выбор занятий для отдыха, как активного, так
						и
						спокойного. Hamilton House идеально подойдет для семей и людей, ищущих тихое убежище от шума и суеты
						города.</p>
					<svg class="quotes">
						<use xlink:href="#quotes"></use>
					</svg>
				</div>
			</div>
			<div class="card">
				<div class="card__person">
					<img class="card__person-userpic" src="@img/view-3.jpg" alt="Айдар Низамов">
					<div class="card__person-info">
						<p class="card__person-name">Айдар Низамов</p>
						<p class="card__person-prof">Эксперт проекта</p>
					</div>
				</div>

				<div class="card__text">
					<svg class="quotes quotes--top">
						<use xlink:href="#quotes"></use>
					</svg>
					<p>Почему выгодно инвестировать в новый проект Hamilton House? Он является проектом
						признанного «бутик застройщика», находится в первоклассной локации, соответствует экологическим
						требованиям «Зеленого строительства Дубая». Кроме этого, соблюдается прозрачное и надежное
						обслуживание
						клиентов. Прогнозируется высокая рентабельность инвестиций до 9%, гарантирован высокий прирост
						капитала
						при передаче недвижимости. А также, для инвестирования доступно несколько вариантов оплаты, включая
						криптовалюту.</p>
					<svg class="quotes">
						<use xlink:href="#quotes"></use>
					</svg>
				</div>

			</div>
			<div class="card">
				<div class="card__person">
					<img class="card__person-userpic" src="@img/view-1.jpg" alt="Диана Хватова">
					<div class="card__person-info">
						<p class="card__person-name">Диана Хватова</p>
						<p class="card__person-prof">Эксперт проекта</p>
					</div>
				</div>
				<div class="card__text">
					<svg class="quotes quotes--top">
						<use xlink:href="#quotes"></use>
					</svg>
					<p>При проектировании квартир специалисты особенно детально подошли к проработке кухни,
						где мы проводим достаточно много времени каждый день. Кухня с открытой планировкой будет создана по
						индивидуальному заказу, с наличием большого свободного пространства для приготовления и приема пищи,
						оснащенная современной мебелью и бытовой техникой.</p>
					<svg class="quotes">
						<use xlink:href="#quotes"></use>
					</svg>
				</div>
			</div>
			<div class="card">
				<div class="card__person">
					<img class="card__person-userpic" src="@img/view-2.jpg" alt="Дилфуза Раджапова">
					<div class="card__person-info">
						<p class="card__person-name">Дилфуза Раджапова</p>
						<p class="card__person-prof">Эксперт проекта</p>
					</div>
				</div>
				<div class="card__text"><svg class="quotes quotes--top">
						<use xlink:href="#quotes"></use>
					</svg>
					<p>Жилой комплекс Hamilton House представляет собой спокойное, безмятежное
						пространство, расположенное в «сердце Дубая», недалеко от всех основных достопримечательностей
						эмирата. В
						этом районе также находится много парков, школ и широкий выбор занятий для отдыха, как активного, так
						и
						спокойного. Hamilton House идеально подойдет для семей и людей, ищущих тихое убежище от шума и суеты
						города.</p>
					<svg class="quotes">
						<use xlink:href="#quotes"></use>
					</svg>
				</div>
			</div>
			<div class="card">
				<div class="card__person">
					<img class="card__person-userpic" src="@img/view-3.jpg" alt="Айдар Низамов">
					<div class="card__person-info">
						<p class="card__person-name">Айдар Низамов</p>
						<p class="card__person-prof">Эксперт проекта</p>
					</div>
				</div>

				<div class="card__text">
					<svg class="quotes quotes--top">
						<use xlink:href="#quotes"></use>
					</svg>
					<p>Почему выгодно инвестировать в новый проект Hamilton House? Он является проектом
						признанного «бутик застройщика», находится в первоклассной локации, соответствует экологическим
						требованиям «Зеленого строительства Дубая». Кроме этого, соблюдается прозрачное и надежное
						обслуживание
						клиентов. Прогнозируется высокая рентабельность инвестиций до 9%, гарантирован высокий прирост
						капитала
						при передаче недвижимости. А также, для инвестирования доступно несколько вариантов оплаты, включая
						криптовалюту.</p>
					<svg class="quotes">
						<use xlink:href="#quotes"></use>
					</svg>
				</div>

			</div>
		</div>
	</div>
</section>