<section class="features">
	<div class="container">
		<div class="features-inner">
			<div class="features-wrapper">
				<h2 class="common-title">Инфраструктура:</h2>
				<div class="features-inner__text">
					<p>Проживая в Hamilton House, вы будете иметь возможность пользоваться большим спектром непревзойденных
						курортных удобств. Малую часть из них составляют зона отдыха на открытом воздухе, студия йоги и
						фитнес-центр, паровой душ и площадка для барбекю с удобными сидениями.</p>
					<br>
					<p>Современный жилой комплекс дополняется удобствами, над которыми поработали проектировщики, создав
						идеальное
						сочетание комфорта с близостью расположения. Кроме этого, проект находится в тихом жилом районе с
						легким
						доступом к основным магистралям и общественному транспорту.</p>
				</div>
			</div>
			<img class="features-inner__img" src="@img/map.jpg" alt="карта расположения ЖК">
		</div>
		<div class="features-icons">
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#chill"></use>
				</svg>
				<p class="features-icons__info">Зона отдыха</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#fitness"></use>
				</svg>
				<p class="features-icons__info">Фитнес центр</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#swpool"></use>
				</svg>
				<p class="features-icons__info">Бассейн</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#parking"></use>
				</svg>
				<p class="features-icons__info">Парковка</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#video"></use>
				</svg>
				<p class="features-icons__info">Видеонаблюдение</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#swpool2"></use>
				</svg>
				<p class="features-icons__info">Детский бассейн</p>
			</div>

			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#playground"></use>
				</svg>
				<p class="features-icons__info">Детская<br>площадка</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#yoga"></use>
				</svg>
				<p class="features-icons__info">Зал для пилатеса<br>и йоги</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#park"></use>
				</svg>
				<p class="features-icons__info">Благоустроенная зеленая территория</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#bus"></use>
				</svg>
				<p class="features-icons__info">Транспортная доступность</p>
			</div>
			<div class="features-icons__item">
				<svg class="features-icon__icon">
					<use xlink:href="#bbq"></use>
				</svg>
				<p class="features-icons__info">Площадка для барбекю</p>
			</div>
		</div>
	</div>
</section>