<section class="section gallery-wrapper bg-grey">
	<div class="container">
		<div class="section-header gallery-header">
			<h2 class="section-top__title">Сертификаты</h2>
		</div>

		<div class="slider gallery-slider" data-slider data-slider-slides="4">
			<div class="swiper slider__main">
				<div class="swiper-wrapper">
					<div class="swiper-slide slider__slide--mob-width-190 slider__slide">
						<div class="slider-slide__card gallery-card " data-fancybox data-src="@img/cert.jpg">
							<img class="slide-img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="swiper-slide slider__slide--mob-width-190 slider__slide">
						<div class="slider-slide__card gallery-card " data-fancybox data-src="@img/cert.jpg">
							<img class="slide-img " src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="swiper-slide slider__slide--mob-width-190 slider__slide">
						<div class="slider-slide__card gallery-card" data-fancybox data-src="@img/cert.jpg">
							<img class="slide-img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="swiper-slide slider__slide--mob-width-190 slider__slide">
						<div class="slider-slide__card gallery-card" data-fancybox data-src="@img/cert.jpg">
							<img class="slide-img " src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="swiper-slide slider__slide--mob-width-190 slider__slide">
						<div class="slider-slide__card gallery-card" data-fancybox data-src="@img/cert.jpg">
							<img class="slide-img " src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="swiper-slide slider__slide--mob-width-190 slider__slide">
						<div class="slider-slide__card gallery-card" data-fancybox data-src="@img/cert.jpg">
							<img class="slide-img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
				</div>
				<div class="slider-buttons">
					<button class="button-slider button-slider--grey button-slider--inner button-slider--prev mobile--hidden"
						data-slider-prev>
						<svg class="button-icon button__icon--prev gallery__icon--prev">
							<use xlink:href="@img/icons/icons.svg#arrow"></use>
						</svg>
					</button>
					<button class="button-slider button-slider--grey button-slider--inner button-slider--next mobile--hidden"
						data-slider-next>
						<svg class="button__icon button__icon--next gallery__icon--next">
							<use xlink:href="@img/icons/icons.svg#arrow"></use>
						</svg>
					</button>
				</div>
				<div class="slider__pagination mobile--hidden"></div>
			</div>
		</div>
	</div>
</section>