<div class="gallery-wrapper bg-grey">
	<div class="container">
		<h2 class="content-title gallery__title">Сертификаты</h2>
		<div class="gallery-slider" data-slider data-slider-slides="4">
			<div class="swiper swiper-gallery slider__main slider__main--overflow">
				<div class="swiper-wrapper">
					<div class="gallery-item swiper-slide slider__slide--mob-width-190 ">
						<div class="gallery-item__wrapper">
							<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="gallery-item swiper-slide slider__slide--mob-width-190">
						<div class="gallery-item__wrapper">
							<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="gallery-item swiper-slide slider__slide slider__slide--mob-width-190 active-item">
						<div class="gallery-item__wrapper">
							<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="gallery-item swiper-slide slider__slide slider__slide--mob-width-190">
						<div class="gallery-item__wrapper">
							<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="gallery-item swiper-slide slider__slide slider__slide--mob-width-190">
						<div class="gallery-item__wrapper">
							<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
					<div class="gallery-item swiper-slide slider__slide slider__slide--mob-width-190">
						<div class="gallery-item__wrapper">
							<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
						</div>
					</div>
				</div>

				<button class="button-slider button-slider--grey button-slider--inner button-slider--prev mobile--hidden"
					data-slider-prev>
					<svg class="button-icon button__icon--prev gallery__icon--prev">
						<use xlink:href="@img/icons/icons.svg#arrow"></use>
					</svg>
				</button>
				<button class="button-slider button-slider--grey button-slider--inner button-slider--next mobile--hidden"
					data-slider-next>
					<svg class="button__icon button__icon--next gallery__icon--next">
						<use xlink:href="@img/icons/icons.svg#arrow"></use>
					</svg>
				</button>

				<div class="slider__pagination mobile--hidden"></div>
			</div>

		</div>
	</div>
</div>