<h2 class="content-title gallery__title">Сертификаты</h2>
<div class="gallery">
	<div class="gallery-nav__buttons mobile--disable">
		<button class="swiper-button-prev swiper-button-prev--100left btn__nav-slide gallery-btn gallery-btn__prev">
			<svg class="button-icon button__icon--prev gallery__icon--prev">
				<use xlink:href="@img/icons/icons.svg#arrow"></use>
			</svg>
		</button>
		<button class="swiper-button-next swiper-button-next--100right btn__nav-slide gallery-btn gallery-btn__next">
			<svg class="button__icon button__icon--next gallery__icon--next">
				<use xlink:href="@img/icons/icons.svg#arrow"></use>
			</svg>
		</button>
	</div>
	<div class="gallery-slider-container swiper swiper-gallery">
		<div class="swiper-wrapper">
			<div class="gallery-item swiper-slide">
				<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
			</div>
			<div class="gallery-item swiper-slide">
				<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
			</div>
			<div class="gallery-item swiper-slide">
				<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
			</div>
			<div class="gallery-item swiper-slide">
				<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
			</div>
			<div class="gallery-item swiper-slide">
				<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
			</div>
			<div class="gallery-item swiper-slide">
				<img class="gallery-item__img swiper-slide__img" src="@img/cert.jpg" alt="Сертификат">
			</div>
		</div>
	</div>
	<div class="gallery-nav__pagination swiper-pagination">
		<span class="slider-pagination__bullet"></span>
		<span class="slider-pagination__bullet"></span>
		<span class="slider-pagination__bullet slider-pagination__bullet--active"></span>
	</div>
</div>