<header class="header-body">
	<div class="logo">
		<svg class="logo__icon">
			<use xlink:href="img/icons/icons.svg#logo"></use>
		</svg>
	</div>
	<div class="search">
		<form class="form-search" method="get" action="/search" target="_blank">
			<input class="form-search__input" type="text" placeholder="Поиск...">
			<button class="form-search__btn" type="submit">
				<svg class="form-search__icon">
					<use xlink:href="img/icons/icons.svg#search"></use>
				</svg>
			</button>
		</form>
	</div>
	<div class="callback">
		<div class="callback__wrapper callback__wrapper--desc">
			<a class="callback-form content-text--lg header-body__tel" href="tel:+79133223911">
				<svg class="callback-form__icon">
					<use xlink:href="@img/icons/icons.svg#phone"></use>
				</svg>+7 (913) 322-3911</a>
			<button class="btn btn-purple header-body__btn">Заказать звонок</button>
		</div>

		<nav class="menu">
			<div class="menu__menu menu-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</nav>
	</div>
</header>

<nav class="menu__inner">
	<div class="menu__wrapper">
		<ul class="menu__list">
			<li class="menu__item"><a class="menu__item-link" href="#">О компании</a></li>
			<li class="menu__item"><a class="menu__item-link" data-name="services" href="#services">наши
					услуги</a>
				<ul class="menu__sublist" id="services">
					<li class="menu__subitem"><a class="menu__subitem-link" href="#develop">Программирование</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#design">Графический и
							веб-дизайн</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#ad">Производство рекламы</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#video">Видеосъемка</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">Продвижение на картах</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">SMM и таргетинг</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">Ведение Яндекс.Дзен</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">Контекстная реклама</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">SEO-продвижение</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">Продвижение на
							маркетплейсах</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">SEO-продвижение
							приложений</a></li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#">Маркетинговый надзор</a>
					</li>
				</ul>
			</li>
			<li class="menu__item"><a class="menu__item-link" href="#sectors">отрасли</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#portfolio">проекты</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#clients">Наши клиенты</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#views">Отзывы</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#prices">Цены</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#sales">Акции</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#guarantees">Гарантии</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#job">Вакансии</a>
				<ul class="menu__sublist menu-sublist--open" id="job">
					<li class="menu__subitem"><a class="menu__subitem-link" href="#developers">Программисты</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#disigners">Веб-дизайнеры</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#seo">SEO-продвижение</a>
					</li>
					<li class="menu__subitem"><a class="menu__subitem-link" href="#marketers">Маркетологи</a>
					</li>
				</ul>
			</li>
			<li class="menu__item"><a class="menu__item-link" href="#blog">Блог</a></li>
			<li class="menu__item"><a class="menu__item-link" href="#contacts">Контакты</a></li>
		</ul>
		<button class="btn header-menu__btn">Партнерская программа</button>
	</div>
	<div class="mobile-menu">
		<div class="callback__wrapper callback__wrapper--mobile">
			<button class="btn btn-purple header-body__btn header-body__btn--mobile" type="submit">Заказать звонок</button>
			<span class="header-social__icons">
				<svg class="header-social__icon">
					<use xlink:href="@img/icons/icons.svg#insta"></use>
				</svg>
				<svg class="header-social__icon">
					<use xlink:href="@img/icons/icons.svg#tg"></use>
				</svg>
				<svg class="header-social__icon">
					<use xlink:href="@img/icons/icons.svg#vk"></use>
				</svg>
			</span>
			<a class="callback-form callback-form--mobile content-text--lg header-body__tel" href="tel:+79133223911">
				<svg class="callback-form__icon">
					<use xlink:href="@img/icons/icons.svg#phone"></use>
				</svg>+7 (913) 322-3911</a>
		</div>
	</div>
</nav>