<section class="intro-inner">
	<h1 class="title intro-inner__title">
		аудит сайта<br><span class="intro-inner__title intro-inner__title--actient title">бесплатно</span>
	</h1>
	<p class="content-text--lg content-text--white intro-inner__text">Позиции сайта падают? Пользователи покидают ресурс,
		проведя на
		нем
		всего десяток
		секунд? Есть трафик, но нет обращений? Закажите бесплатный аудит сайта </p>
	<div class="mt50 intro-inner__form-wrapper">
		<form class="form-call__form" name="back-call">
			<input class="form-call__input" name="telephone" type="tel" maxlength="20" placeholder="+7 (___) ___-__-__"
				required>
		</form>
		<button class="btn btn-purple form-call__btn">Заказать аудит</button>
	</div>
</section>