<section class="levels">
	<div class="container">
		<h2 class="common-title">Планы этажей:</h2>
		<div class="tabs">
			<nav class="tabs-nav">
				<button class="btn btn--tabs  active" data-tab="#tab1">Цокольный этаж</button>
				<button class="btn btn--tabs" data-tab="#tab2">1 этаж</button>
			</nav>
			<div class="tabs-body">
				<div class="tabs-content active" id="tab1">
					<div class="tabs-text">
						<ul class="tabs-list">
							<li class="tabs-list__item">&#183; Главный вход</li>
							<li class="tabs-list__item">&#183; Стойка регистрации</li>
							<li class="tabs-list__item">&#183; Въезд на парковку</li>
							<li class="tabs-list__item">&#183; Станции для зарядки электромобилей</li>
							<li class="tabs-list__item">&#183; Парковка для велосипедов</li>
							<li class="tabs-list__item">&#183; Зона техобслуживания велосипедов</li>
							<li class="tabs-list__item">&#183; Парковка для инвалидов</li>
							<li class="tabs-list__item">&#183; Лаунж зона</li>
							<li class="tabs-list__item">&#183; Лифт</li>
						</ul>
					</div>
					<div class="tabs-img">
						<svg class="compass">
							<use xlink:href="#compass"></use>
						</svg>
						<img class="tabs__img" src="@img/tab-img1.jpg" alt="Планы этажей">
					</div>
				</div>
				<div class="tabs-content" id="tab2">
					<div class="tabs-text">
						<ul class="tabs-list">
							<li class="tabs-list__item">&#183; Бассейн с зоной отдыха</li>
							<li class="tabs-list__item">&#183; Кабинки для переодевания</li>
							<li class="tabs-list__item">&#183; Территория с шезлонгами у бассейна</li>
							<li class="tabs-list__item">&#183; Закрытый детский бассейн</li>
							<li class="tabs-list__item">&#183; Душ на открытом воздухе</li>
							<li class="tabs-list__item">&#183; Открытая детская игровая площадка</li>
							<li class="tabs-list__item">&#183; Площадка для барбекю с сидениями</li>
							<li class="tabs-list__item">&#183; Терраса</li>
							<li class="tabs-list__item">&#183; Зона отдыха на открытом воздухе</li>
							<li class="tabs-list__item">&#183; Фитнес центр</li>
							<li class="tabs-list__item">&#183; Женская раздевалка</li>
							<li class="tabs-list__item">&#183; Мужская раздевалка</li>
							<li class="tabs-list__item">&#183; Паровой душ</li>
							<li class="tabs-list__item">&#183; Раздевалка для инвалидов</li>
							<li class="tabs-list__item">&#183; Студия йоги</li>
							<li class="tabs-list__item">&#183; Лифт</li>
						</ul>

					</div>
					<div class="tabs-img">
						<svg class="compass">
							<use xlink:href="#compass"></use>
						</svg>
						<img class="tabs__img" src="@img/tab-img2.jpg" alt="Планы этажей">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>