<section class="location">
	<div class="container">
		<h2 class="common-title">Расположение:</h2>
		<div class="location-inner">
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#mall"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">2 </span>минуты
					</p>
					<p class="location-inner__info-suptitle">ТЦ Circle Mall</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#mall"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">10 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Дубай Марина</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#attraction"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">12 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Аттракцион Око Дубая</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#hotel"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">15 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Отель Парус</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#building"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">15 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Бурдж-Халифа</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#mall"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">15 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Дубай Молл</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#beach"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">20 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Пляж Джумейра</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#museum"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">20 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Музей будущего</p>
				</div>
			</div>
			<div class="location-inner__item">
				<svg class="location-inner__item-icon">
					<use xlink:href="#airport"></use>
				</svg>
				<div class="location-inner__info">
					<p class="location-inner__info-title">
						<span class="location-inner__info-num">30 </span>минут
					</p>
					<p class="location-inner__info-suptitle">Международный аэропорт Дубая</p>
				</div>
			</div>
		</div>
	</div>
</section>