<div class="marketing-cards__header">
	<h3 class="marketing-cards__suptitle">Это не все наши услуги, их на много больше!</h3>
	<h2 class="marketing-cards__title content-title marketing-cards__title">Мы готовы полностью заменить вам отдел
		разработки
		и маркетинга</h2>
	<p class="content-text">Мы можем не только продвигать, но и создавать! Не только сайты, но и
		приложения,
		плагины и модули для CMS-систем. Мы уже делали это и еще не раз сделаем. </p>
</div>
<div class="marketing-cards__wrapper cards">
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon">
				<use xlink:href="@img/icons/icons.svg#m-site"></use>
			</svg>
			<h2 class="marketing-cards__item-title">Создание сайтов</h2>
			<p class="marketing-cards__item-text">Разработаем для вас продающий сайт, который работает быстро</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-admin"></use>
			</svg>
			<h2 class="marketing-cards__item-title">Поддержка сайта </h2>
			<p class="marketing-cards__item-text">Уже есть сайт? Мы с радостью возьмем его на техническую поддержку</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-map"></use>
			</svg>
			<h2 class="marketing-cards__item-title">Продвижение на картах</h2>
			<p class="marketing-cards__item-text">Добавим и продвинем вашу компанию во всех сервисах карт</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-copyright"></use>
			</svg>
			<h2 class="marketing-cards__item-title">Копирайтинг</h2>
			<p class="marketing-cards__item-text">Напишем для вас качественные продающие или информационные тексты</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-video"></use>
			</svg>
			<h2 class="marketing-cards__item-title">Монтаж видео</h2>
			<p class="marketing-cards__item-text">Снимем и проведем монтаж видео любой сложности</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-marketing"></use>
			</svg>
			<h2 class="marketing-cards__item-title">Маркетинговый надзор</h2>
			<p class="marketing-cards__item-text">Проверим работу вашего подрядчика по маркетингу</p>
		</a>
	</div>
</div>
<div class="marketing-cards__nav">
	<button class="btn btn-purple marketing-cards__btn">Бесплатная консультация</button>
	<button class="btn btn-orange marketing-cards__btn--mobile">Посмотреть все услуги</button>
</div>