<div class="marketing-wrapper bg-purple">
	<div class="container">
		<div class="marketing row">
			<div class="marketing-info content-text--white col-6">
				<h3 class="content-text content-text--white marketing-top__inner-text">Наша основная специальность - это
				</h3>
				<h2 class="content-title">интернет-маркетинг<br>и всё, что с ним<br>связано</h2>
			</div>
			<ul class="marketing-list flex-md-column content-text--white col-5">
				<li class="marketing-list__item">
					<svg class="marketing-list__icon">
						<use xlink:href="img/icons/icons.svg#seo"></use>
					</svg>SEO ПРОДВИЖЕНИЕ
				</li>
				<li class="marketing-list__item">
					<svg class="marketing-list__icon">
						<use xlink:href="img/icons/icons.svg#ya"></use>
					</svg>ЯНДЕКС ДЗЕН
				</li>
				<li class="marketing-list__item">
					<svg class="marketing-list__icon">
						<use xlink:href="img/icons/icons.svg#target"></use>
					</svg>ТАРГЕТИНГОВАЯ РЕКЛАМА
				</li>
				<li class="marketing-list__item">
					<svg class="marketing-list__icon">
						<use xlink:href="img/icons/icons.svg#context"></use>
					</svg>КОНТЕКСТНАЯ РЕКЛАМА
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="marketing-cards__header row">
		<h3 class="content-text text-center capital">Это не все наши услуги, их на много больше!</h3>
		<h2 class="content-title text-center marketing-cards__title">Мы готовы полностью заменить вам отдел
			разработки
			и маркетинга</h2>
		<p class="content-text text-center">Мы можем не только продвигать, но и создавать! Не только сайты, но и
			приложения,
			плагины и модули для CMS-систем. Мы уже делали это и еще не раз сделаем. </p>
	</div>
	<div class="marketing-cards__wrapper cards">
		<div class="marketing-cards__item cards-item">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-site"></use>
			</svg>
			<h2 class="cards-item__title">Создание сайтов</h2>
			<p class="cards-item__text">Разработаем для вас продающий сайт, который работает быстро</p>
		</div>
		<div class="marketing-cards__item cards-item">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-admin"></use>
			</svg>
			<h2 class="cards-item__title">Поддержка сайта </h2>
			<p class="cards-item__text">Уже есть сайт? Мы с радостью возьмем его на техническую поддержку</p>
		</div>
		<div class="marketing-cards__item cards-item">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-map"></use>
			</svg>
			<h2 class="cards-item__title">Продвижение на картах</h2>
			<p class="cards-item__text">Добавим и продвинем вашу компанию во всех сервисах карт</p>
		</div>
		<div class="marketing-cards__item cards-item">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-copyright"></use>
			</svg>
			<h2 class="cards-item__title">Копирайтинг</h2>
			<p class="cards-item__text">Напишем для вас качественные продающие или информационные тексты</p>
		</div>
		<div class="marketing-cards__item cards-item">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-video"></use>
			</svg>
			<h2 class="cards-item__title">Монтаж видео</h2>
			<p class="cards-item__text">Снимем и проведем монтаж видео любой сложности</p>
		</div>
		<div class="marketing-cards__item cards-item">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#m-marketing"></use>
			</svg>
			<h2 class="cards-item__title">Маркетинговый надзор</h2>
			<p class="cards-item__text">Проверим работу вашего подрядчика по маркетингу</p>
		</div>
	</div>
	<button class="btn btn-purple marketing-cards__btn">Бесплатная консультация</button>
</div>