<div class="marketing pt100 pb100">
	<div class="marketing-info content-text--white">
		<h3 class="content-text content-text--white marketing-info__text">Наша основная специальность - это
		</h3>
		<h2 class="content-title">интернет-маркетинг<br>и всё, что с ним<br>связано</h2>
	</div>
	<ul class="marketing-list flex-md-column content-text--white">
		<li class="marketing-list__item content-text--md">
			<svg class="marketing-list__icon">
				<use xlink:href="./img/icons/icons.svg#seo"></use>
			</svg>SEO ПРОДВИЖЕНИЕ
		</li>
		<li class="marketing-list__item content-text--md">
			<svg class="marketing-list__icon">
				<use xlink:href="@img/icons/icons.svg#ya"></use>
			</svg>ЯНДЕКС ДЗЕН
		</li>
		<li class="marketing-list__item content-text--md">
			<svg class="marketing-list__icon">
				<use xlink:href="@img/icons/icons.svg#target"></use>
			</svg>ТАРГЕТИНГОВАЯ РЕКЛАМА
		</li>
		<li class="marketing-list__item content-text--md">
			<svg class="marketing-list__icon">
				<use xlink:href="@img/icons/icons.svg#context"></use>
			</svg>КОНТЕКСТНАЯ РЕКЛАМА
		</li>
	</ul>
</div>