<div class="marketing-cards__header">
	<h3 class="content-text text-center capital">Это не все наши услуги, их на много больше!</h3>
	<h2 class="content-title text-center marketing-cards__title">Мы готовы полностью заменить вам отдел
		разработки
		и маркетинга</h2>
	<p class="content-text text-center">Мы можем не только продвигать, но и создавать! Не только сайты, но и
		приложения,
		плагины и модули для CMS-систем. Мы уже делали это и еще не раз сделаем. </p>
</div>
<div class="marketing-cards__wrapper cards">
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon">
				<use xlink:href="@img/icons/icons.svg#msite"></use>
			</svg>
			<h2 class="cards-item__title">Создание сайтов</h2>
			<p class="cards-item__text">Разработаем для вас продающий сайт, который работает быстро</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#1"></use>
			</svg>
			<h2 class="cards-item__title">Поддержка сайта </h2>
			<p class="cards-item__text">Уже есть сайт? Мы с радостью возьмем его на техническую поддержку</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="../img/icons/icons.svg#mmap"></use>
			</svg>
			<h2 class="cards-item__title">Продвижение на картах</h2>
			<p class="cards-item__text">Добавим и продвинем вашу компанию во всех сервисах карт</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#mcopyright"></use>
			</svg>
			<h2 class="cards-item__title">Копирайтинг</h2>
			<p class="cards-item__text">Напишем для вас качественные продающие или информационные тексты</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#mvideo"></use>
			</svg>
			<h2 class="cards-item__title">Монтаж видео</h2>
			<p class="cards-item__text">Снимем и проведем монтаж видео любой сложности</p>
		</a>
	</div>
	<div class="marketing-cards__item cards-item">
		<a class="marketing-cards__link" href="#">
			<svg class="marketing-cards__item-icon cards-item__icon">
				<use xlink:href="@img/icons/icons.svg#mmarketing"></use>
			</svg>
			<h2 class="cards-item__title">Маркетинговый надзор</h2>
			<p class="cards-item__text">Проверим работу вашего подрядчика по маркетингу</p>
		</a>
	</div>
</div>
<button class="btn btn-purple marketing-cards__btn">Бесплатная консультация</button>