<section class="section-cards">
	<div class="container">
		<div class="section-cards__header">
			<h3 class="section-cards__suptitle content-text--20">Это не все наши услуги, их на много больше!</h3>
			<h2 class="section-cards__title content-title--55">Мы готовы полностью заменить вам<br>отдел разработки и
				маркетинга</h2>
			<p class="section-cards__text content-text--20">Мы можем не только продвигать, но и создавать! Не только
				сайты,
				но и
				приложения, плагины и модули для CMS-систем. Мы уже делали это и еще не раз сделаем. </p>
		</div>
		<div class="slider" data-slider data-slider-slides="3">
			<div class="swiper slider__main slider__main--overflow">
				<div class="swiper-wrapper marketing-cards__wrapper">
					<div class="swiper-slide">
						<div class="slider-slide__card marketing-card">
							<a class="cards-link" href="#">
								<div class="cards-icon">
									<svg class="cards-item__icon cards-item__icon--marketing">
										<use xlink:href="@img/icons/icons.svg#m-site"></use>
									</svg>
									<svg class="cards-item__plate cards-item__plate--marketing">
										<use xlink:href="@img/icons/icons.svg#plate"></use>
									</svg>
								</div>
								<h2 class="slider-slide__card-title">Создание сайтов</h2>
								<p class="slider-slide__card-text">Разработаем для вас продающий сайт, который работает быстро
								</p>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider-slide__card marketing-card">
							<a class="cards-link" href="#">
								<div class="cards-icon">
									<svg class="cards-item__icon cards-item__icon--marketing">
										<use xlink:href="@img/icons/icons.svg#m-admin"></use>
									</svg>
									<svg class="cards-item__plate cards-item__plate--marketing">
										<use xlink:href="@img/icons/icons.svg#plate"></use>
									</svg>
								</div>
								<h2 class="slider-slide__card-title">Поддержка сайта</h2>
								<p class="slider-slide__card-text">Уже есть сайт? Мы с радостью возьмем его на техническую
									поддержку</p>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider-slide__card marketing-card">
							<a class="cards-link" href="#">
								<div class="cards-icon">
									<svg class="cards-item__icon cards-item__icon--marketing">
										<use xlink:href="@img/icons/icons.svg#m-map"></use>
									</svg>
									<svg class="cards-item__plate cards-item__plate--marketing">
										<use xlink:href="@img/icons/icons.svg#plate"></use>
									</svg>
								</div>
								<h2 class="slider-slide__card-title">Продвижение на картах</h2>
								<p class="slider-slide__card-text">Добавим и продвинем вашу компанию во всех сервисах карт</p>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider-slide__card marketing-card">
							<a class="cards-link" href="#">
								<div class="cards-icon">
									<svg class="cards-item__icon cards-item__icon--marketing">
										<use xlink:href="@img/icons/icons.svg#m-copyright"></use>
									</svg>
									<svg class="cards-item__plate cards-item__plate--marketing">
										<use xlink:href="@img/icons/icons.svg#plate"></use>
									</svg>
								</div>
								<h2 class="slider-slide__card-title">Копирайтинг</h2>
								<p class="slider-slide__card-text">Напишем для вас качественные продающие или информационные
									тексты</p>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider-slide__card marketing-card">
							<a class="cards-link" href="#">
								<div class="cards-icon">
									<svg class="cards-item__icon cards-item__icon--marketing">
										<use xlink:href="@img/icons/icons.svg#m-video"></use>
									</svg>
									<svg class="cards-item__plate cards-item__plate--marketing">
										<use xlink:href="@img/icons/icons.svg#plate"></use>
									</svg>
								</div>
								<h2 class="slider-slide__card-title">Монтаж видео</h2>
								<p class="slider-slide__card-text">Снимем и проведем монтаж видео любой сложности</p>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slider-slide__card marketing-card">
							<a class="cards-link" href="#">
								<div class="cards-icon">
									<svg class="cards-item__icon cards-item__icon--marketing">
										<use xlink:href="@img/icons/icons.svg#m-marketing"></use>
									</svg>
									<svg class="cards-item__plate cards-item__plate--marketing">
										<use xlink:href="@img/icons/icons.svg#plate"></use>
									</svg>
								</div>
								<h2 class="slider-slide__card-title">Маркетинговый надзор</h2>
								<p class="slider-slide__card-text">Проверим работу вашего подрядчика по маркетингу</p>
							</a>
						</div>
					</div>
					<div class="slider-cards__nav">
						<button class="btn btn-orange slider-cards__btn--mobile">Посмотреть все услуги</button>
						<button class="btn btn-purple slider-cards__btn">Бесплатная консультация</button>
					</div>
				</div>
			</div>
		</div>
</section>