<section class="fullscreen-wrapper fullscreen-wrapper__marketing bg-purple">
	<div class="container">
		<div class="block-wrapper marketing-wrapper">
			<div class="block-info">
				<h3 class="block-info__text content-text--20">Наша основная специальность - это
				</h3>
				<h2 class="block-info__title content-title--55">интернет-маркетинг<br>и всё, что с ним<br>связано</h2>
			</div>
			<ul class="block-list">
				<li class="block-list__item">
					<svg class="block-list__icon">
						<use xlink:href="./img/icons/icons.svg#seo"></use>
					</svg>SEO ПРОДВИЖЕНИЕ
				</li>
				<li class="block-list__item">
					<svg class="block-list__icon">
						<use xlink:href="@img/icons/icons.svg#ya"></use>
					</svg>ЯНДЕКС ДЗЕН
				</li>
				<li class="block-list__item">
					<svg class="block-list__icon">
						<use xlink:href="@img/icons/icons.svg#target"></use>
					</svg>ТАРГЕТИНГОВАЯ РЕКЛАМА
				</li>
				<li class="block-list__item">
					<svg class="block-list__icon">
						<use xlink:href="@img/icons/icons.svg#context"></use>
					</svg>КОНТЕКСТНАЯ РЕКЛАМА
				</li>
			</ul>
		</div>
	</div>
</section>