<section class="payment">
	<div class="container">
		<div class="payment-wrapper">
			<img class="payment-wrapper__img" src="@img/payment.jpg" alt="">
			<div class="payment__inner">
				<h2 class="common-title">План оплаты:</h2>
				<span class="payment-inner__suptitle">БЕСПРОЦЕНТНАЯ РАССРОЧКА</span>
				<div class="payment-progressbar__body">
					<div class="payment-progressbar__item">
						<div class="payment-progressbar__progress" style="width: 20%;"></div>
					</div>
					<div class="payment-progressbar__item">
						<div class="payment-progressbar__progress" style="width: 70%;"></div>
					</div>
					<div class="payment-progressbar__item">
						<div class="payment-progressbar__progress" style="width: 100%;"></div>
					</div>

					<div class="wapper-progressbar">
						<div class="payment-progressbar__item payment-progressbar__item--transparent">
							<p class="payment-progressbar__info">20% ПРИ БРОНИРОВАНИИ</p>
						</div>
						<div class="payment-progressbar__item payment-progressbar__item--transparent">
							<p class="payment-progressbar__info">50% ВО ВРЕМЯ СТРОИТЕЛЬСТВА</p>
						</div>
						<div class="payment-progressbar__item payment-progressbar__item--transparent">
							<p class="payment-progressbar__info">30% ПРИ ПЕРЕДАЧЕ</p>
						</div>
					</div>
				</div>
				<span class="payment-inner__suptitle">Получение ключей:</span>
				<h2 class="common-title">4 квартал 2023 года</h2>
			</div>
		</div>
	</div>
</section>