<div class="portfolio bg-grey">
	<div class="container">
		<div class="section-header mb50">
			<h2 class="content-title">Наши кейсы</h2>
			<button class="btn btn-purple portfolio-top__btn mobile--hidden">Все проекты</button>
		</div>
		<div class="slider-container" data-slider data-slider-desctop data-slider-slides="3">
			<div class="swiper cards slider__main slider__main--overflow">
				<div class="portfolio-body swiper-wrapper">
					<div class="portfolio-item slider-item cards-item swiper-slide">
						<div class="portfolio-item__wrapper">
							<div class="portfolio-item__img">
								<img class="portfolio-cards__img" src="@img/portfolio-cards__img-1.jpg" alt="Фото: Продвижение сайта официального дистрибьютора медицинского
				оборудования">
							</div>
							<div class="portfolio-item__info">
								<p class="portfolio-item__title">Продвижение сайта официального дистрибьютора медицинского
									оборудования
								</p>
								<p class="portfolio-item__text">Увеличение коммерческого трафика из поисковых систем в 4 раза
								</p>
								<a class="portfolio-item__full" href="#">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="portfolio-item slider-item cards-item swiper-slide">
						<div class="portfolio-item__wrapper">
							<div class="portfolio-item__img">
								<img class="portfolio-cards__img" src="@img/portfolio-cards__img-2.jpg"
									alt="Фото: Продвижение сайта ПЦР тестов и КТ в Калининграде">
							</div>
							<div class="portfolio-item__info">
								<p class="portfolio-item__title">Продвижение сайта ПЦР тестов и КТ в Калининграде</p>
								<p class="portfolio-item__text">Снизили CPL по услуге ПЦР-тесты</p>
								<a class="portfolio-item__full" href="#">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="portfolio-item slider-item cards-item swiper-slide">
						<div class="portfolio-item__wrapper">
							<div class="portfolio-item__img">
								<img class="portfolio-cards__img" src="@img/portfolio-cards__img-3.jpg"
									alt="Фото: Магазин керамической плитки в Калининграде">
							</div>
							<div class="portfolio-item__info">
								<p class="portfolio-item__title">Магазин керамической плитки в Калининграде</p>
								<p class="portfolio-item__text">Снизили стоимость клиента на 50%</p>
								<a class="portfolio-item__full" href="#">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="portfolio-item slider-item cards-item swiper-slide">
						<div class="portfolio-item__wrapper">
							<div class="portfolio-item__img">
								<img class="portfolio-cards__img" src="@img/portfolio-cards__img-4.jpg"
									alt="Фото: Продвижение интернет- магазина кислородного оборудования">
							</div>
							<div class="portfolio-item__info">
								<p class="portfolio-item__title">Продвижение интернет- магазина кислородного оборудования</p>
								<p class="portfolio-item__text">Снизили стоимость клиента на 50%</p>
								<a class="portfolio-item__full" href="#">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slider__pagination mobile--hidden"></div>
			</div>
		</div>

		<button class="btn btn-purple portfolio-top__btn--mobile">Все проекты</button>
	</div>
</div>