<div class="portfolio-top mb50">
	<h2 class="content-title">Наши кейсы</h2>
	<button class="btn btn-purple portfolio-top__btn">Все проекты</button>
</div>

<div class="swiper-portfolio swiper cards">
	<div class="portfolio-body swiper-wrapper">
		<div class="portfolio-item slider-item cards-item cards-item--big swiper-slide">
			<div class="portfolio-item__img">
				<img class="portfolio-cards__img" src="@img/portfolio-cards__img-1.jpg" alt="">
			</div>
			<div class="portfolio-item__info">
				<p class="portfolio-item__title">Продвижение сайта официального дистрибьютора медицинского
					оборудования
				</p>
				<p class="portfolio-item__text">Увеличение коммерческого трафика из поисковых систем в 4 раза</p>
				<a class="portfolio-item__full" href="#">Подробнее</a>
			</div>
		</div>
		<div class="portfolio-item slider-item cards-item cards-item--big swiper-slide">
			<div class="portfolio-item__img">
				<img class="portfolio-cards__img" src="@img/portfolio-cards__img-2.jpg" alt="">
			</div>
			<div class="portfolio-item__info">
				<p class="portfolio-item__title">Продвижение сайта ПЦР тестов и КТ в Калининграде</p>
				<p class="portfolio-item__text">Снизили CPL по услуге ПЦР-тесты</p>
				<a class="portfolio-item__full" href="#">Подробнее</a>
			</div>
		</div>
		<div class="portfolio-item slider-item cards-item cards-item--big swiper-slide">
			<div class="portfolio-item__img">
				<img class="portfolio-cards__img" src="@img/portfolio-cards__img-3.jpg" alt="">
			</div>
			<div class="portfolio-item__info">
				<p class="portfolio-item__title">Магазин керамической плитки в Калининграде</p>
				<p class="portfolio-item__text">Снизили стоимость клиента на 50%</p>
				<a class="portfolio-item__full" href="#">Подробнее</a>
			</div>
		</div>
		<div class="portfolio-item slider-item cards-item cards-item--big swiper-slide">
			<div class="portfolio-item__img">
				<img class="portfolio-cards__img" src="@img/portfolio-cards__img-4.jpg" alt="">
			</div>
			<div class="portfolio-item__info">
				<p class="portfolio-item__title">Продвижение интернет- магазина кислородного оборудования”</p>
				<p class="portfolio-item__text">Снизили стоимость клиента на 50%</p>
				<a class="portfolio-item__full" href="#">Подробнее</a>
			</div>
		</div>
	</div>
</div>