<section class="prices">
	<div class="container">
		<div class="prices-top">
			<p class="prices-top__left">
				<span class="prices-cards__item-subtitle">Цены:</span><br>
				<span class="prices-cards__item-title">от 134 000 USD</span>
			</p>
			<p class="prices-top__right">
				<span class="prices-cards__item-subtitle">Ограниченное предложение:</span><br>
				<span class="prices-cards__item-title">всего 101 квартира!</span>
			</p>
		</div>
		<div class="prices-cards">
			<div class="prices-cards__item">
				<div class="prices-cards__item-top">
					<button class="prices-cards__btn">
						<svg class="arrow-icon">
							<use xlink:href="#arrow"></use>
						</svg>
					</button>
					<h3 class="prices-cards__price">134 000 USD</h3>
				</div>
				<p class="prices-cards__info">
					<span class="mb-10">Стартовая цена</span> <br>
					<span>17 студий площадью от 36 до 46.8 м²</span>
				</p>
			</div>
			<div class="prices-cards__item">
				<div class="prices-cards__item-top">
					<button class="prices-cards__btn">
						<svg class="arrow-icon">
							<use xlink:href="#arrow"></use>
						</svg>
					</button>
					<h3 class="prices-cards__price">230 850 USD</h3>
				</div>
				<p class="prices-cards__info">
					<span class="mb-10">Стартовая цена</span> <br>
					<span>71 односпальные апартаменты площадью<br>от 58 до 75 м²</span>
				</p>
			</div>
			<div class="prices-cards__item">
				<div class="prices-cards__item-top">
					<button class="prices-cards__btn">
						<svg class="arrow-icon">
							<use xlink:href="#arrow"></use>
						</svg>
					</button>
					<h3 class="prices-cards__price">434 700 USD</h3>
				</div>
				<p class="prices-cards__info">
					<span class="mb-10">Стартовая цена</span> <br>
					<span>14 двуспальных апартаментов<br>от 99 до 121 м² </span>
				</p>
			</div>
		</div>
	</div>
</section>