<div class="reviews-wrapper bg-purple">
	<div class="container">
		<div class="reviews-top mb50">
			<h2 class="content-title content-text--white reviews__title">Отзывы</h2>
			<nav class="reviews-btn mobile--hidden">
				<button class="button-slider button-slider--light mobile--hidden" data-slider-prev>
					<svg class="button__icon button__icon--light button__icon--prev">
						<use xlink:href="@img/icons/icons.svg#arrow"></use>
					</svg>
				</button>
				<button class="button-slider button-slider--light mobile--hidden" data-slider-next>
					<svg class="button__icon button__icon--light button__icon--next">
						<use xlink:href="@img/icons/icons.svg#arrow"></use>
					</svg>
				</button>
			</nav>
		</div>
		<div class="slider-container" data-slider data-slider-slides="3" data-slider-desktop>
			<div class="swiper-reviews swiper slider__main slider__main--overflow">
				<div class="swiper-wrapper slider__wrapper--mobile-grid">
					<div class="reviews-item swiper-slide">
						<div class="reviews-item__wrapper cards-item">
							<div class="reviews-item__info">
								<img class="reviews-item__img" src="@img/reviews-item__img.jpg" alt="Фото: отзыв">
								<div class="reviews-item__info-content">
									<p class="reviews-item__company">ООО “Литана”</p>
									<p class="reviews-item__name">Анастасия Брут</p>
								</div>
							</div>
							<p class="cards-item__text-reviews">ООО «Литана» занимается управлением строительных объектов,
								изготовлением
								металлоконструкций, проектированием промышленных и гражданских объектов.
							</p>

							<a class="reviews-item__full" href="#">Читать весь отзыв</a>
						</div>
					</div>
					<div class="reviews-item reviews-item--video swiper-slide">
						<div class="cards-item reviews-item__wrapper reviews-item__video-wrapper">
							<div class="reviews-item__video-info">
								<svg class="video-play">
									<use xlink:href="img/icons/icons.svg#play"></use>
								</svg>
								<time class="reviews-item__video-date" datetime="2021-10-14">14.10.21</time>
								<p class="reviews-item__company reviews-item__company--video">ООО “Литана”</p>
							</div>
							<video class="reviews-video" width="390" height="347" poster="@img/reviews-img1.jpg">
								<source src="#" type='video/ogg; codecs="theora, vorbis"'>
								<source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
								<source src="#" type='video/webm; codecs="vp8, vorbis"'>
							</video>
						</div>
					</div>
					<div class="reviews-item swiper-slide">
						<div class="reviews-item__wrapper cards-item">
							<div class="reviews-item__info">
								<img class="reviews-item__img" src="@img/reviews-item__img.jpg" alt="Фото: отзыв">
								<div class="reviews-item__info-content">
									<p class="reviews-item__company">ООО “Литана”</p>
									<p class="reviews-item__name">Анастасия Брут</p>
								</div>
							</div>
							<p class="cards-item__text-reviews">ООО «Литана» занимается управлением строительных объектов,
								изготовлением
								металлоконструкций, проектированием промышленных и гражданских объектов.
							</p>

							<a class="reviews-item__full" href="#">Читать весь отзыв</a>
						</div>
					</div>
					<div class="reviews-item reviews-item--video swiper-slide">
						<div class="cards-item reviews-item__wrapper reviews-item__video-wrapper">
							<div class="reviews-item__video-info">
								<svg class="video-play">
									<use xlink:href="img/icons/icons.svg#play"></use>
								</svg>
								<time class="reviews-item__video-date" datetime="2021-10-14">14.10.21</time>
								<p class="reviews-item__company reviews-item__company--video">ООО “Литана”</p>
							</div>
							<video class="reviews-video" width="390" height="347" poster="@img/reviews-img2.jpg">
								<source src="#" type='video/ogg; codecs="theora, vorbis"'>
								<source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
								<source src="#" type='video/webm; codecs="vp8, vorbis"'>
							</video>
						</div>
					</div>
					<div class="reviews-item swiper-slide">
						<div class="reviews-item__wrapper cards-item">
							<div class="reviews-item__info">
								<img class="reviews-item__img" src="@img/reviews-item__img.jpg" alt="Фото: отзыв">
								<div class="reviews-item__info-content">
									<p class="reviews-item__company">ООО “Литана”</p>
									<p class="reviews-item__name">Анастасия Брут</p>
								</div>
							</div>
							<p class="cards-item__text-reviews">ООО «Литана» занимается управлением строительных объектов,
								изготовлением
								металлоконструкций, проектированием промышленных и гражданских объектов.
							</p>

							<a class="reviews-item__full" href="#">Читать весь отзыв</a>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-orange reviews-bottom__btn">Все отзывы</button>
		</div>
	</div>
</div>