<div class="container">
	<div class="reviews-top mb50">
		<h2 class="content-title content-text--white">Отзывы</h2>
		<nav class="reviews-btn mobile--disable">
			<button class="reviews-btn__prev reviews-navigation__btn btn__nav-slide">
				<svg class="button__icon button__icon--prev">
					<use xlink:href="@img/icons/icons.svg#arrow"></use>
				</svg>
			</button>
			<button class="reviews-btn__next reviews-navigation__btn btn__nav-slide">
				<svg class="button__icon button__icon--next">
					<use xlink:href="@img/icons/icons.svg#arrow"></use>
				</svg>
			</button>
		</nav>
	</div>
</div>

<div class="slider-body swiper-reviews swiper" data-slider-desktop data-slider-reviews data-slider>
	<div class="reviews-body swiper-wrapper">
		<div class="cards-item reviews-item swiper-slide">
			<div class="reviews-item__info">
				<img class="reviews-item__img" src="@img/reviews-item__img.jpg" alt="Фото: отзыв">
				<div class="reviews-item__info-content">
					<p class="reviews-item__company">ООО “Литана”</p>
					<p class="reviews-item__name">Анастасия Брут</p>
				</div>
			</div>
			<p class="cards-item__text-reviews">ООО «Литана» занимается управлением строительных объектов,
				изготовлением
				металлоконструкций, проектированием промышленных и гражданских объектов.
			</p>
			<a class="reviews-item__full" href="#">Читать весь отзыв</a>
		</div>
		<div class="cards-item reviews-item reviews-item--video swiper-slide">
			<div class="reviews-item__video-info">
				<svg class="video-play">
					<use xlink:href="img/icons/icons.svg#play"></use>
				</svg>
				<time class="reviews-item__video-date" datetime="2021-10-14">14.10.21</time>
				<p class="reviews-item__company reviews-item__company--video">ООО “Литана”</p>
			</div>
			<video class="reviews-video" width="390" height="347" poster="@img/reviews-img1.jpg">
				<source src="#" type='video/ogg; codecs="theora, vorbis"'>
				<source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
				<source src="#" type='video/webm; codecs="vp8, vorbis"'>
			</video>
		</div>
		<div class="cards-item reviews-item swiper-slide">
			<div class="reviews-item__info">
				<img class="reviews-item__img" src="@img/reviews-item__img.jpg" alt="Фото: отзыв">
				<div class="reviews-item__info-content">
					<p class="reviews-item__company">ООО “Литана”</p>
					<p class="reviews-item__name">Анастасия Брут</p>
				</div>
			</div>
			<p class="cards-item__text-reviews">ООО «Литана» занимается управлением строительных объектов,
				изготовлением
				металлоконструкций, проектированием промышленных и гражданских объектов.
			</p>
			<a class="reviews-item__full" href="#">Читать весь отзыв</a>
		</div>
		<div class="cards-item reviews-item reviews-item--video slider-item">
			<div class="reviews-item__video-info">
				<svg class="video-play">
					<use xlink:href="img/icons/icons.svg#play"></use>
				</svg>
				<time class="reviews-item__video-date" datetime="2021-10-14">14.10.21</time>
				<p class="reviews-item__company reviews-item__company--video">ООО “Литана”</p>
			</div>
			<video class="reviews-video" width="390" height="347" poster="@img/reviews-img1.jpg">
				<source src="#" type='video/ogg; codecs="theora, vorbis"'>
				<source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
				<source src="#" type='video/webm; codecs="vp8, vorbis"'>
			</video>
		</div>
		<div class="cards-item reviews-item swiper-slide">
			<div class="reviews-item__info">
				<img class="reviews-item__img" src="@img/reviews-item__img.jpg" alt="Фото: отзыв">
				<div class="reviews-item__info-content">
					<p class="reviews-item__company">ООО “Литана”</p>
					<p class="reviews-item__name">Анастасия Брут</p>
				</div>
			</div>
			<p class="cards-item__text-reviews">ООО «Литана» занимается управлением строительных объектов,
				изготовлением
				металлоконструкций, проектированием промышленных и гражданских объектов.
			</p>
			<a class="reviews-item__full" href="#">Читать весь отзыв</a>
		</div>
		<div class="cards-item reviews-item reviews-item--video swiper-slide">
			<div class="reviews-item__video-info">
				<svg class="video-play">
					<use xlink:href="img/icons/icons.svg#play"></use>
				</svg>
				<time class="reviews-item__video-date" datetime="2021-10-14">14.10.21</time>
				<p class="reviews-item__company reviews-item__company--video">ООО “Литана”</p>

			</div>
			<video class="reviews-video" width="390" height="347" poster="@img/reviews-img2.jpg">
				<source src="#" type='video/ogg; codecs="theora, vorbis"'>
				<source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
				<source src="#" type='video/webm; codecs="vp8, vorbis"'>
			</video>
		</div>
	</div>
</div>

<button class="btn btn-orange reviews-bottom__btn">Все отзывы</button>