<div class="seo-cards">
	<div class="container">
		<h2 class="content-title text-center">Seo по тематикам</h2>
		<div class="seo-cards__wrapper">
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-market"></use>
				</svg>
				<p class="seo-cards__text">Интернет-магазины</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-med"></use>
				</svg>
				<p class="seo-cards__text">Медицина</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-build"></use>
				</svg>
				<p class="seo-cards__text">Строительство</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-prom"></use>
				</svg>
				<p class="seo-cards__text">Промышленность</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-logist"></use>
				</svg>
				<p class="seo-cards__text">Логистика</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-house"></use>
				</svg>
				<p class="seo-cards__text">Недвижимость</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-gov"></use>
				</svg>
				<p class="seo-cards__text">Госучреждения</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-delivery"></use>
				</svg>
				<p class="seo-cards__text">Доставки</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-franchise"></use>
				</svg>
				<p class="seo-cards__text">Франшизы</p>
			</div>
			<div class="seo-cards__item">
				<svg class="seo-cards__icon">
					<use xlink:href="img/icons/icons.svg#seo-school"></use>
				</svg>
				<p class="seo-cards__text">Онлайн школы</p>
			</div>
			<button class="seo-cards__item seo-cards__item-btn seo-cards__text">
				Все отрасли
			</button>
		</div>
	</div>
</div>

<div class="seo-order">
	<div class="container">
		<div class="seo-order__wrapper">
			<div class="seo-order__content">
				<h2 class="content-title content-text--white seo-title">Заказать аудит сайта</h2>
				<p class="content-text--lg content-text--white seo-text">Пройдите опрос и получите аудит сайта абсолютно
					бесплатно
				</p>
			</div>
			<div class="seo-order__form-wrapper intro-inner__form-wrapper form-call__wrapper">
				<form class="seo-order__form " name="telephone">
					<input class="seo-order__input form-call__input" name="telephone" type="tel" maxlength="20"
						placeholder="+7 (___) ___-__-__" required>
				</form>
				<button class="seo-order__btn btn btn-orange form-call__btn">Заказать звонок</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="slider-container" data-slider data-slider-slides="6">
		<div class="swiper logos-slider slider__main">
			<div class="logos__wrapper swiper-wrapper">
				<div class="logos-item__wrapper swiper-slide">
					<img class="logos__item" src="@img/seo-clients-1.png" alt="Наши клиенты">
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<img class="logos__item" src="@img/seo-clients-2.png" alt="Наши клиенты">
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<img class="logos__item" src="@img/seo-clients-3.png" alt="Наши клиенты">
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<img class="logos__item" src="@img/seo-clients-4.png" alt="Наши клиенты">
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<img class="logos__item" src="@img/seo-clients-5.png" alt="Наши клиенты">
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<img class="logos__item" src="@img/seo-clients-6.png" alt="Наши клиенты">
				</div>

			</div>
		</div>
	</div>
</div>