<div class="seo-cards">
	<div class="container">
		<h2 class="section-header">Seo по тематикам</h2>
		<div class="seo-cards__wrapper">
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-market"></use>
					</svg>
					<p class="seo-cards__text">Интернет-магазины</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-med"></use>
					</svg>
					<p class="seo-cards__text">Медицина</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-build"></use>
					</svg>
					<p class="seo-cards__text">Строительство</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-prom"></use>
					</svg>
					<p class="seo-cards__text">Промышленность</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-logist"></use>
					</svg>
					<p class="seo-cards__text">Логистика</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-house"></use>
					</svg>
					<p class="seo-cards__text">Недвижимость</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-gov"></use>
					</svg>
					<p class="seo-cards__text">Госучреждения</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-delivery"></use>
					</svg>
					<p class="seo-cards__text">Доставки</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-franchise"></use>
					</svg>
					<p class="seo-cards__text">Франшизы</p>
				</a>
			</div>
			<div class="seo-cards__item">
				<a class="seo-cards__item-link" href="#">
					<svg class="seo-cards__icon">
						<use xlink:href="img/icons/icons.svg#seo-school"></use>
					</svg>
					<p class="seo-cards__text">Онлайн школы</p>
				</a>
			</div>
			<button class="seo-cards__item seo-cards__item-btn seo-cards__text">
				Все отрасли
			</button>
		</div>
	</div>
</div>

<div class="seo-order">
	<div class="container">
		<div class="seo-order__wrapper">
			<div class="seo-order__content">
				<h2 class="content-title--55 seo-title">Заказать аудит сайта</h2>
				<p class="content-text--20 seo-text">Пройдите опрос и получите аудит сайта абсолютно
					бесплатно
				</p>
			</div>
			<div class="seo-order__form-wrapper intro-inner__form-wrapper form-call__wrapper">
				<form class="seo-order__form " name="telephone">
					<input class="seo-order__input form-call__input" name="telephone" type="tel" maxlength="20"
						placeholder="+7 (___) ___-__-__" required>
				</form>
				<button class="seo-order__btn btn btn-orange form-call__btn">Заказать звонок</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="slider-seo" data-slider data-slider-slides="6">
		<div class="swiper logos-slider slider__main">
			<div class="logos__wrapper swiper-wrapper">
				<div class="logos-item__wrapper swiper-slide">
					<div class="logos-item__card-wrapper">
						<img class="logo-seo" src="@img/seo-clients-1.png" alt="Наши клиенты">
					</div>
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<div class="logos-item__card-wrapper">
						<img class="logo-seo" src="@img/seo-clients-2.png" alt="Наши клиенты">
					</div>
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<div class="logos-item__card-wrapper">
						<img class="logo-seo" src="@img/seo-clients-3.png" alt="Наши клиенты">
					</div>
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<div class="logos-item__card-wrapper">
						<img class="logo-seo" src="@img/seo-clients-4.png" alt="Наши клиенты">
					</div>
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<div class="logos-item__card-wrapper">
						<img class="logo-seo" src="@img/seo-clients-5.png" alt="Наши клиенты">
					</div>
				</div>
				<div class="logos-item__wrapper swiper-slide">
					<div class="logos-item__card-wrapper">
						<img class="logo-seo" src="@img/seo-clients-6.png" alt="Наши клиенты">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>