<div class="container">
	<div class="mt100 mb100 services-cards">
		<div class="services-cards__item cards-item">
			<a href="#">
				<svg class="cards-item__icon">
					<use xlink:href="img/icons/icons.svg#plane"></use>
				</svg>
				<h2 class="cards-item__title content-text--lg">РАЗРАБОТАЕМ СТРАТЕГИЮ ПРОДВИЖЕНИЯ</h2>
				<p class="cards-item__text">Мы разработаем и реализуем стратегию продвижения вашей компании в интернете
				</p>
			</a>
		</div>
		<div class="services-cards__item cards-item">
			<a href="#">
				<svg class="cards-item__icon">
					<use xlink:href="img/icons/icons.svg#client"></use>
				</svg>
				<h2 class="cards-item__title content-text--lg">ПРИВЕДЕМ КЛИЕНТОВ<br>ЗА РУКУ</h2>
				<p class="cards-item__text">Стратегия и упаковка помогут привести вам клиентов из интернета.</p>
			</a>
		</div>
		<div class="services-cards__item cards-item">
			<a href="#">
				<svg class="cards-item__icon">
					<use xlink:href="img/icons/icons.svg#conversion"></use>
				</svg>
				<h2 class="cards-item__title content-text--lg">ПРОРАБОТАЕМ<br>КОНВЕРСИЮ</h2>
				<p class="cards-item__text">Проработка конверсии сайта поможет снизить стоимость клиента</p>
			</a>
		</div>
	</div>
</div>
<section class="seo-wrapper">
	<div class="container">
		<div class="seo pt100 pb100">
			<img class="seo__img" src="@img/seo__img.png" alt="">
			<div class="seo-info">
				<h3 class="seo-info__subtitle content-subtitle">Увеличим не только трафик, но и продажи</h3>
				<h1 class="seo-info__title content-title">Вы готовы оказаться<br>в топе поиска?</h1>
				<p class="seo-info__text">Мы много лет занимаемся созданием и продвижением сайтов. За годы накопилось
					очень много работающих способов продвинуть сайт и настроить поток клиентов в бизнес, мы готовы
					поделиться ими с вами.</p>
				<button class="btn btn-purple seo-info__btn">Узнать подробнее</button>
			</div>
		</div>
	</div>
</section>