<div class="swiper swiper-services" data-slider>
	<div class="swiper-wrapper">
		<div class="services-cards__item cards-item swiper-slide">
			<a class="services-cards__link" href="#">
				<svg class="cards-item__icon">
					<use xlink:href="img/icons/icons.svg#plane"></use>
				</svg>
				<h2 class="cards-item__title content-text--lg">РАЗРАБОТАЕМ СТРАТЕГИЮ ПРОДВИЖЕНИЯ</h2>
				<p class="cards-item__text">Мы разработаем и реализуем стратегию продвижения вашей компании в интернете
				</p>
			</a>
		</div>
		<div class="services-cards__item cards-item swiper-slide">
			<a class="services-cards__link" href="#">
				<svg class="cards-item__icon">
					<use xlink:href="img/icons/icons.svg#client"></use>
				</svg>
				<h2 class="cards-item__title content-text--lg">ПРИВЕДЕМ КЛИЕНТОВ<br>ЗА РУКУ</h2>
				<p class="cards-item__text">Стратегия и упаковка помогут привести вам клиентов из интернета.</p>
			</a>
		</div>
		<div class="services-cards__item cards-item swiper-slide">
			<a class="services-cards__link" href="#">
				<svg class="cards-item__icon">
					<use xlink:href="img/icons/icons.svg#conversion"></use>
				</svg>
				<h2 class="cards-item__title content-text--lg">ПРОРАБОТАЕМ<br>КОНВЕРСИЮ</h2>
				<p class="cards-item__text">Проработка конверсии сайта поможет снизить стоимость клиента</p>
			</a>
		</div>
	</div>
</div>