.slider-gallery {
	padding: rem(110) 0 rem(100);

	@media(max-width:1200px) {
		padding: rem(10) 0 rem(40);
	}
}

.gallery-slider {
	margin: rem(50) 0 0;

	@media(max-width:1200px) {
		margin: rem(20) 0 0;
	}
}

.gallery-card {
	width: rem(271);
	height: rem(390);
	border: 7px solid #fff;
	gap: rem(37);
	padding: 0;
	border-radius: 0;

	position: relative;
	cursor: pointer;

	@media(max-width:1200px) {
		width: rem(190);
		height: auto;
	}

	&:hover {
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			background-image: url(../img/icons/icons.svg#zoom);
			background-color: rgba(74, 106, 169, 0.5);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60px;

			box-shadow: -40px 40px 100px rgba(42, 76, 129, 0.35);
		}
	}
}

.slide-img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}


.gallery {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: rem(5) 0 rem(90);

	@media(max-width:1200px) {
		margin: 0;
		padding: 0;
	}

	&__title {
		text-align: center;
		margin: 0 0 rem(50) 0;

		@media(max-width:768px) {
			font-size: rem(28);
			line-height: rem(40);
			text-align: start;
			margin: 0 0 rem(10) 0;
		}
	}
}