// convert px to rem
@function rem($px) {
	$result: calc($px / 16)+rem;
	@return $result;
}

$dark-blue: #1B153E;
$text-gray: #6E7097;
$light-gray: #F6F7FA;
$gray: #B5B6D7;

$purple: #833CFA;
$light-purple: #D896FA;

$orange: #FF981F;