.article-service {
  z-index: 1;
  width: 100%;
  position: relative;
  min-height: rem(339);
  margin: 0 rem(30) 0 0;
  box-shadow: -20px 10px 50px rgba(47, 62, 113, 0.15);

  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    border-radius: rem(20);
    transform: rotate(0deg);
    background-color: #833CFA;
    transform-origin: top left;
    transition: 0.3s transform, 0.3s opacity;
  }

  @media(max-width: 1200px) {
    //width: rem(240);
    //height: rem(368);
    margin: 0;
    box-shadow: -20px 10px 50px rgba(47, 62, 113, 0.15);
  }

  &:hover {
    box-shadow: none;

    &:after {
      opacity: 1;
      transform: rotate(5deg);
    }

    .article-service {
      &__fill {
        fill: #ffffff;
      }
      &__gradient-from {
        stop-color: #833CFA;;
      }
      &__gradient-to {
        stop-color: #BD3CFA;
      }
    }
  }

  &:last-child {
    margin: 0;
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    border-radius: rem(20);
    background-color: #ffffff;
    padding: rem(44) rem(50) rem(50) rem(50);
  }

  //&__icon--services {
  //	top: rem(-5);
  //	left: rem(30);
  //}

  &__icon {
    display: block;
    width: rem(81);
    height: rem(78);
  }

  &__fill {
    fill: #30415B;
    transition: 0.3s fill;
  }

  &__gradient-from {
    stop-color: #F6F7FA;
    transition: 0.3s stop-color;
  }

  &__gradient-to {
    stop-color: #F6F7FA;
    transition: 0.3s stop-color;
  }

  &__plate--services {
    top: rem(15);
    left: rem(-35);
  }

  &__title {
    margin: rem(30) 0 rem(20);
    font-weight: 700;
    color: #000;

    @media(max-width: 1200px) {
      font-weight: 700;
      font-size: rem(16);
      line-height: rem(22);
      text-transform: uppercase;
      color: #000;
    }
  }

  &__text {
    color: $text-gray;
  }
}
