.article {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 55px;
	align-items: center;


	&__img {
		width: 100%;
		max-width: 600px;
		object-fit: contain;
	}

	@media(max-width:1200px) {
		grid-template-columns: 1fr;
		grid-row-gap: 45px;
		justify-items: center;
		padding: 30px 0;
	}
}

.article-info {
	&__subtitle {
		color: $text-gray;
		font-style: normal;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 27px;
		letter-spacing: .1em;
		text-transform: lowercase;
	}

	&__title {
		margin: 8px 0 40px;
	}

	&__text {
		margin: 0 0 40px 0;
	}

	@media(max-width:992px) {
		max-width: 80%;
	}
}