.footer__wrapper {
	width: 100%;
	background-color: $dark-blue;
	padding: 80px 0 0;
	margin: 100px 0 0 0;
}

.footer-bottom__wrapper {
	width: 100%;
	background-color: #231E46;
}

.footer-top {
	display: flex;
	margin: 0 0 60px 0;

	@media(max-width:1090px) {
		flex-direction: column;
		align-items: center;
	}
}

.footer-contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media(max-width:1090px) {
		align-items: center;
	}

	&__info {
		margin: 35px 0 40px;

		@media(max-width:1090px) {
			align-self: center;
			text-align: center;
		}

	}

	&__tel {
		color: #fff;
		font-weight: 700;
		font-size: rem(32);
		line-height: 44px;
		text-decoration: none;
		margin: 0 0 9px;

		@media(max-width:1400px) {
			font-size: calc(1rem + 1vw);
			line-height: calc(2rem + 1vw);
		}

	}

	&__timetable {}

	&__btn {
		max-width: 198px;
		margin: 0 0 53px;

		@media(max-width:1090px) {
			max-width: 100%;
		}
	}
}


.mail-footer {
	color: #fff;
	text-decoration: none;

	&__icon {
		width: 18px;
		height: 18px;

		margin: 1px 10px 0 0;
	}
}

.footer-menu {
	margin: 0 0 0 150px;

	@media(max-width:1260px) {
		margin: 0 0 0 60px;
	}

	@media(max-width:1090px) {
		margin: 0 auto;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 3fr;
		margin: 35px 0 0;

		@media(max-width:1090px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		font-weight: 700;
		font-size: rem(20);
	}


	&__sublist {
		display: grid;
		margin: 35px 0;
	}

	&__sublist--col1 {
		grid-template-columns: 1fr;

		@media(max-width:1090px) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 70px;
		}
	}

	&__sublist--col2 {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 110px;

		@media(max-width:1260px) {
			column-gap: 70px;
		}
	}

	&__subitem {
		margin: 10px 0 10px;
		font-weight: 400;
		font-size: rem(16);
	}


	&__subitem-link {
		cursor: pointer;
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media(max-width:1200px) {
		display: flex;
		flex-direction: column;
	}

	&__social {
		max-height: 34px;

		@media(max-width:1200px) {
			margin: 0 0 20px 0;
		}
	}

	&__social-icon {
		width: 34px;
		max-height: 34px;
		margin: 0 15px 0 0;

		&:last-child {
			margin: 0;
		}
	}
}

.copyright {
	&__link {
		color: #fff;
		margin: 0 0 0 32px;
		text-decoration: none;
	}

	@media(max-width:1200px) {
		margin: 0 0 20px 0;
	}
}

.sign {
	display: flex;
	align-items: center;
}

.diez-icon {
	width: 100%;
	max-width: 81px;
	height: 17px;

	margin: 0 0 0 8px;
}

.logo-footer {
	max-height: 46px;
	width: 170px;
}