.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media(max-width:1200px) {
		display: flex;
		flex-direction: column;
	}

	&__social {
		max-height: 34px;

		@media(max-width:1200px) {
			margin: 0 0 20px 0;
		}
	}

	&__social-icon {
		width: 34px;
		max-height: 34px;
		margin: 0 15px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	&__social-link {
		margin: 0 15px 0 0;

		&:last-child {
			margin: 0;
		}
	}
}

.copyright {
	&__link {
		color: #fff;
		margin: 0 0 0 32px;
		text-decoration: none;
	}

	@media(max-width:1200px) {
		margin: 0 0 20px 0;
		text-align: center;
	}
}

.sign {
	display: flex;
	align-items: center;
}

.diez-icon {
	width: 100%;
	max-width: 81px;
	height: 17px;

	margin: 0 0 0 8px;
}

.logo-footer {
	max-height: 46px;
	width: 170px;
}