.header-row {
	max-height: 35px;
	display: flex;
	justify-content: space-between;
	padding: 8px 0;

	font-size: rem(14);
	line-height: 19px;
	color: #949AA4;
	font-weight: 400;


	@media(max-width:992px) {
		display: none;
	}

	&__company {
		flex: 0 0 40%;
	}

	&__conpany-name {
		white-space: nowrap;
	}
}

.header-row-contact {
	display: flex;
	flex: 0 0 40%;

	justify-content: flex-end;

	&__mail {
		margin: 0 110px 0 0;
	}

	&__adress {
		white-space: nowrap;
	}
}

.header-adress {
	&__link {
		font-family: inherit;
		color: inherit;
		font-size: inherit;
	}
}