.header-menu {
	width: 100%;
	display: grid;
	grid-template-columns: .7fr 1.3fr 1.6fr;
	align-items: center;
	padding: 17px 0;

	@media(max-width:1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media(max-width:992px) {
		grid-template-columns: repeat(4, 1fr);
	}

	&__btn--mobile {
		margin: 30px 0;
		width: 264px;
	}
}

.logo {

	&__icon {}
}

.logo--mobile {
	@media(max-width:992px) {
		grid-column: 1 / span 2;
	}
}

.search {
	max-height: 50px;
	position: relative;

	@media(max-width:992px) {
		max-width: 50px;
		justify-self: end;
	}
}

.form-search {
	width: 100%;
	max-width: 285px;
	background-color: transparent;
	border: 1px solid #C5C9D0;
	border-radius: 30px;
	margin: 0 auto;
	padding: 15px 23px;

	&__input {
		background-color: transparent;
		width: 85%;
	}

	&__btn {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 15px;
		left: 325px;
		background-color: transparent;
		border: none;

		@media(max-width:1200px) {
			left: 75%;
		}

		@media(max-width:992px) {
			position: static;
		}
	}

	&__icon {
		max-width: 20px;
		max-height: 20px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}



.callback {
	display: grid;
	grid-template-columns: 13fr 1fr;
	justify-items: end;
	align-items: center;

}

.callback__wrapper--desc {
	@media(max-width:1200px) {
		display: none;
	}
}

.callback__wrapper--mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
}



.callback-form {
	font-size: rem(20);
	font-weight: 600;
	color: #000;
	margin: 0 40px 0 0;
	line-height: 27px;

	&__icon {
		width: 18px;
		height: 18px;
		margin: 0 15px 0 0;
	}
}

.callback-form--mobile {
	margin: 30px 0 0;

}


.menu {
	max-width: 30px;

	&__menu {
		width: 30px;
		height: 22px;
		cursor: pointer;

		@media(max-width:1200px) {
			justify-self: end;
			max-width: 30px;
			margin: 0;
		}

		span {
			display: flex;
			position: relative;
			top: 10px;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition: all .3s ease;


			&:first-child {
				top: 2px;
			}

			&:last-child {
				top: 18px;

			}
		}

	}
}


.active {
	span {
		transform: scale(0);

		&:first-child {
			transform: rotate(-45deg);
			top: 11px;
		}

		&:last-child {
			transform: rotate(45deg);
			top: 8px;
		}
	}
}


.menu-wrapper {
	display: none;
	padding: 110px 0 100px;
}

.menu--open {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 230px;

	@media(max-width:1200px) {
		padding: 40px 0 50px;
		grid-template-columns: 1fr;
		justify-items: center;
	}
}


.menu-inner {
	display: grid;
	grid-template-columns: repeat(2, .25fr);
	grid-template-rows: auto;
	justify-items: start;
	column-gap: 150px;
	white-space: nowrap;
	position: relative;

	@media(max-width:1200px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

.menu-list {
	display: grid;
	row-gap: 35px;
	justify-items: end;


	@media(max-width:1200px) {
		grid-template-columns: 1fr;
		justify-items: center;
		row-gap: 20px;
		margin: 0 0 30px 0;
	}

	&__item {

		font-size: rem(36);
		font-weight: 600;
		line-height: 49px;
		text-transform: lowercase;
		text-decoration: none;

		@media(max-width:1200px) {
			font-size: rem(20);
		}

		&:hover,
		&:active {
			color: $purple;
		}
	}

	&__link {}

	&__btn {
		background-color: transparent;
		border: 1px solid $purple;
		color: $purple;
		margin: 138px 0 0 0;

		transition: all .3s linear;

		@media(max-width:1200px) {
			margin: 30px 0 0 0;
		}

		&:hover,
		&:active {
			background-color: $purple;
			border: 1px solid $purple;

			color: #fff;
		}
	}
}

.menu-sublist {
	display: none;

	&__item {
		position: relative;
	}

	&__link {
		font-size: rem(16);
		font-weight: 400;
		line-height: 22px;
		text-decoration: none;
		text-transform: capitalize;
		color: #000;
		transition: all .3s ease;

		@media(max-width:1200px) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

		}

		&:hover {
			color: $purple;
		}
	}
}



.menu-sublist--open {
	align-items: center;
	position: static;

	@media(min-width:1201px) {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 130%;
		align-items: flex-start;
	}
}

.mobile-menu {
	@media(min-width:1201px) {
		display: none;
	}
}

.header-body {

	&__btn {}

	&__btn--mobile {
		margin: 30px 0;
	}

	&__tel {}
}

.header-social {
	text-align: center;

	&__icon {
		width: 100%;
		height: 100%;
		max-width: 34px;
		max-height: 34px;

		margin: 0 15px 0 0;

		&:last-child {
			margin: 0;
		}
	}
}

.callback-form--mobile {}