.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	color: #949AA4;
	font-size: rem(14);
	line-height: 19px;
	padding: 8px 0;


	&__conpany-name {
		white-space: nowrap;
	}

	&__contact {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}


.header-adress {
	white-space: nowrap;
}