.header-body {
	width: 100%;
	display: grid;
	grid-template-columns: .7fr 1fr 1.6fr;
	align-items: center;
	padding: 17px 0;

	@media(max-width:1200px) {
		grid-template-columns: 180px 1fr 2fr;
	}

	&__btn {
		margin: 0 21px 0 0;
	}
}

.form-search {
	width: 100%;
	max-width: 285px;
	max-height: 50px;
	background-color: transparent;
	border: 1px solid #C5C9D0;
	border-radius: 30px;
	padding: 15px 23px;
	position: relative;


	&__input {
		background-color: transparent;
	}

	&__btn {
		background-color: transparent;
		border: none;

		@media(max-width:1200px) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	&__icon {
		max-width: 19px;
		max-height: 19px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 32%;
		left: 85%;
	}
}

.callback {
	display: grid;
	grid-template-columns: 7fr 1fr;
	justify-items: end;
	align-items: center;

}

.callback-form {
	font-weight: 600;
	color: #000;
	margin: 0 40px 0 0;

	@media(max-width:1100px) {
		margin: 0 10px 0 0;
	}

	&__icon {
		width: 18px;
		height: 18px;
		margin: 0 15px 0 0;

	}
}

.header-social {

	&__icons {
		display: none;


		@media(max-width:1000px) {
			display: flex;
		}
	}

	&__icon {
		@media(max-width:1000px) {
			width: 100%;
			height: 100%;
			max-width: 34px;
			max-height: 34px;

			margin: 0 15px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}
}


.header-menu {

	&__menu {
		width: 30px;
		height: 22px;
		cursor: pointer;

		@media(max-width:1200px) {
			justify-self: end
		}
	}

	span {
		display: flex;
		position: relative;
		top: 10px;
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: all .3s ease;


		&:first-child {
			top: 2px;
		}

		&:last-child {
			top: 18px;

		}
	}

	&__inner {
		display: none;
		padding: 110px 0 100px;

	}

	&__wrapper {
		display: grid;
		grid-template-rows: minmax(1fr, 470px) minmax(1fr, 79px);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 150px;
		white-space: nowrap;
		justify-items: end;
		grid-template-rows: auto;
		row-gap: 35px;
		margin: 0 0 138px;
		position: relative;

		@media(max-width:1200px) {
			grid-template-columns: 1fr;
			justify-items: center;
		}
	}

	&__item {
		font-size: rem(36);
		font-weight: 600;
		line-height: 49px;
		text-transform: lowercase;
		text-decoration: none;

		&:hover,
		&:active {
			color: $purple;
		}
	}


	&__sublist {
		display: none;

	}

	&__subitem-link {
		font-size: rem(16);
		font-weight: 400;
		line-height: 22px;
		text-decoration: none;
		text-transform: capitalize;
		color: #000;
		transition: all .3s ease;

		&:hover {
			color: $purple;
		}
	}

}

.active {
	span {
		transform: scale(0);

		&:first-child {
			transform: rotate(-45deg);
			top: 11px;
		}

		&:last-child {
			transform: rotate(45deg);
			top: 8px;
		}
	}
}

.header-menu--open {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 230px;

	@media(max-width:1200px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	@media(max-width:768px) {}
}

.header-menu-sublist--open {
	align-items: center;

	@media(min-width:1201px) {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 130%;
		align-items: flex-start;
	}
}

.header-menu__btn {
	background-color: transparent;
	border: 1px solid $purple;
	color: $purple;
	max-width: 369px;
	width: 100%;
	display: block;
	margin: 0 auto;
	transition: all .3s ease;

	&:hover {
		background-color: $purple;
		color: #fff;
	}
}