.reviews-wrapper {
	padding: 100px 0 100px;
}


.reviews-top {
	margin: 0 0 50px 0;

	@media(max-width:1200px) {
		justify-content: center;
	}
}


.reviews__title {
	color: #fff;

	@media(max-width:1200px) {
		font-size: rem(28);
		line-height: 36px;
	}
}

.reviews-btn {
	display: flex;
	gap: 30px;
}



.button {

	&__icon {}

	&__icon--light {}

	&__icon--prev {}

	&__icon--next {}
}

.reviews-body {
	@media(max-width:1200px) {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto, minmax(290px, 1fr));
		grid-template-rows: auto;
		grid-gap: 15px;
	}
}


.article-review {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 390px;
	height: 347px;
	padding: 30px 30px 40px 40px;

	font-weight: 400;
	font-size: rem(16);
	line-height: 24px;

	@media(max-width:1200px) {
		gap: 30px;
		width: 290px;
		height: 300px;
		padding: 30px;
		justify-content: space-evenly;

	}

	&__video-wrapper {

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;

			background: rgba(0, 0, 0, 0.5);
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 20px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-bottom: 30px;

		@media(max-width:1200px) {
			margin: 0;
		}
	}

	&__img {

		width: 70px;
		height: 70px;
		border-radius: 70px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info-content {}

	&__company {
		margin: 0 0 5px 0;
		font-size: rem(20);
		font-weight: 800;
	}

	&__name {}

	&__full {
		color: $purple;
		text-decoration: underline;
		font-weight: 400;
		font-size: rem(14);
		line-height: 20px;

	}

	&__text {
		& :last-child {
			margin-bottom: 0;
		}
		p {
			margin-bottom: 1em;
		}
	}

	&__video-wrapper {
		padding: 0;
		margin: 0;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		color: #fff;

		@media(max-width:1200px) {
			padding: 0;
		}
	}

	&__video-info {
		display: flex;
		flex-direction: column;
		color: #fff;
		position: absolute;
		top: 200px;
		left: 40px;
		z-index: 10;
		text-decoration: none;

		@media(max-width:1200px) {
			top: 150px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	&__video-date {}

	&__company--video {
		color: #fff;
		align-self: flex-start;
		margin: 15px 0 0;
	}
}

.cards-item {

	&__text-reviews {
		color: #6E7097;
		font-size: rem(16);
		line-height: 24px;

		@media(max-width:1200px) {
			font-size: rem(14);
			line-height: 20px;
		}
	}
}

.reviews-item--video {
	padding: 0;
	position: relative;
	overflow: hidden;

	@media(max-width:1200px) {
		padding: 0;
	}

}

.video-play-icon {
	width: 16px;
	height: 20px;
	border-radius: 2px;

	position: absolute;
	bottom: 20px;
	left: 23px;
	z-index: 2;
}

.video-play-btn {
	position: relative;
	top: -50px;
	left: 87%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);

	@media(max-width:1200px) {
		top: -45px;
		left: 55%;
	}

}

.reviews-video {
	object-fit: cover;
	overflow: hidden;
}

.btn {}

.btn-orange {}

.reviews-bottom__btn {
	display: flex;
	margin: 60px auto 0;
	padding: 15px 34px;
	width: 198px;
	max-height: 50px;
	justify-content: center;
	align-items: center;

}