.slider-services {
	margin: 90px 0 110px;

	@media(max-width:1200px) {
		margin: 50px 0 10px;
	}
}



.services-cards {

	&__item {
		margin: 0 30px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	&__item-wrapper {}

	&__link {}
}

.cards-item {

	&__icon--services {
		top: -5px;
		left: 30px;
	}

	&__plate--services {
		top: 15px;
		left: -35px;
	}

	&__title {
		margin: 30px 0 20px;
		font-weight: 700;
		color: #000;

		@media(max-width:1200px) {
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
			text-transform: uppercase;
			color: #000;
		}
	}

	&__text {
		color: $text-gray;
	}
}


.services-cards {
	display: flex;
	width: 100%;

	@media(max-width:1200px) {
		margin: 0;
	}

	&__link {
		text-decoration: none !important;


	}

	&__item {
		width: 390px;
		height: 339px;
		padding: 44px 42px 50px 50px;
		box-shadow: -20px 10px 50px rgba(47, 62, 113, 0.15);
		position: relative;

		@media(max-width:1200px) {
			width: 240px;
			height: 368px;
			padding: 40px 23px 49px 25px;
			box-shadow: -20px 10px 50px rgba(47, 62, 113, 0.15);
		}

		&:hover {
			box-shadow: none;
		}
	}
}