.article-blog {
	margin: 0 0 rem(100);

	&__btn--mobile {
		display: none;

		@media(max-width:1200px) {
			display: block;
			margin: rem(30) 0 0;
			width: 100%;
		}
	}
}

.blog-header {
	margin: 50px 0 0;
}

.blog-body {
	display: grid;
	grid-template-columns: repeat(4, 285px);
	grid-template-rows: repeat(2, 345px);
	grid-auto-rows: rem(345);
	grid-column-gap: rem(35);
	grid-row-gap: rem(45);
	grid-column: auto;

	justify-content: center;
	margin: rem(60) 0 0;

	@media(max-width:1350px) {
		grid-template-columns: repeat(2, 300px);
		grid-template-rows: repeat(4, 345px);
		margin: rem(30) 0;
	}

	@media(max-width:667px) {
		grid-template-columns: 300px;
		grid-template-rows: 461px repeat(4, 345px);
	}
}

.blog-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	object-fit: cover;
	border-radius: 12px;
	position: relative;
	background-color: #fff;

	&:first-child {
		@media(min-width:667px) {
			grid-row: auto/span 2;
			grid-column: auto/span 2;
		}
	}

	&__img-wrapper {
		width: 285px;
		height: 183px;
		border-radius: 12px;
		overflow: hidden;
	}

	&__img-wrapper--big {
		width: 100%;
		height: 100%;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			background: linear-gradient(0deg, rgba(18, 22, 36, 0.5) 41.9%, rgba(18, 22, 36, 0) 75.51%);
		}

	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__img--big {
		height: 100%;
		width: 100%;
	}

	&__info {
		padding: 0 5px 0 5px;
	}

	&__info--big {
		position: absolute;
		width: 100%;
		top: 45%;
		left: 0;
		color: #fff;

		padding: 0 43px 0 65px;

		@media(max-width:667px) {
			top: 50px;
			padding: 0 13px 0 20px;
		}
	}


	&__title {
		margin: 25px 0;
		font-size: rem(20);
		line-height: 27px;
		font-weight: 700;
	}

	&__title--big {
		font-size: rem(28);
		line-height: 36px;

		@media(max-width:1200px) {
			font-size: rem(20);
			line-height: 28px;
		}
	}

	&__text {
		margin: 20px 0;
		font-size: rem(16);
		line-height: 22px;
		font-weight: 400;
	}

	&__date {
		margin: 0 0 8px;
		color: $text-gray;
		font-size: rem(16);
		line-height: 22px;
	}

	&__date--big {
		color: #fff;
		font-size: rem(14);
		line-height: 19px;
		padding: 7px 22px;
	}
}