* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: #B5B6D7;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

a:visited {
  text-decoration: inherit;
  font-family: inherit;
  color: inherit;
}

a:hover,
a:focus {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img,
picture {
  display: block;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.mb50 {
  margin-bottom: 50px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mr50 {
  margin-right: 50px;
}

.mr100 {
  margin-right: 100px;
}

.ml50 {
  margin-left: 50px;
}

.ml100 {
  margin-left: 100px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.pr50 {
  padding-right: 50px;
}

.pr100 {
  padding-right: 100px;
}

.pl50 {
  padding-left: 50px;
}

.pl100 {
  padding-left: 100px;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-f-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.capital {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 15px;
  margin: 0 auto;
}

.logo__icon {
  width: 100%;
  height: 100%;
  max-height: 50px;
  max-width: 170px;
}

.bg-grey {
  background-color: #F6F7FA;
}

.bg-purple {
  background-color: #833CFA;
}

.header-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 35px;
}

.intro-wrapper {
  background-image: url("../img/intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 656px;
  padding: 122px 0 146px;
}

.marketing-wrapper {
  position: relative;
  max-height: 529px;
}

.marketing-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -10%;
  left: 35%;
  background-image: url("../img/marketing-human.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 336px;
  max-width: 280px;
}

.reviews-wrapper {
  padding: 100px 0 100px;
  overflow: hidden;
}

.credits {
  padding: 100px 0;
}

.portfolio {
  padding: 100px 0 160px;
}

.title {
  font-size: 3.4375rem;
  color: #784CD7;
  font-weight: 700;
  line-height: 75px;
}

.content-title {
  font-size: 3.4375rem;
  font-weight: 800;
  line-height: 65px;
}

.content-text--md,
.content-text--lg {
  line-height: 27px;
  color: #6E7097;
}

.content-text--lg {
  font-size: 1.25rem;
}

.content-text--md {
  font-size: 1rem;
}

.content-text--black {
  line-height: 32px;
  color: #000;
}

.content-text--white {
  color: #fff;
}

.btn {
  padding: 14px 34px;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.btn-purple {
  background: #833CFA;
}

.btn-purple:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgb(131, 60, 250)), to(rgb(189, 60, 250)));
  background: -o-linear-gradient(left, rgb(131, 60, 250) 0%, rgb(189, 60, 250) 100%);
  background: linear-gradient(90deg, rgb(131, 60, 250) 0%, rgb(189, 60, 250) 100%);
}

.btn-orange {
  background-color: #FF981F;
}

.btn-orange:hover {
  background-color: #FFB054;
}

.btn-nav {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: #F3F6FD;
  padding: 22px 19px 22px 18px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-item {
  width: 100%;
  max-width: 390px;
  max-height: 339px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 35px;
  grid-template-rows: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #949AA4;
  padding: 8px 0;
}

.header__conpany-name {
  white-space: nowrap;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-adress {
  white-space: nowrap;
}

.header-body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 1fr 1.6fr;
  grid-template-columns: 0.7fr 1fr 1.6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
}

.header-body__btn {
  margin: 0 21px 0 0;
}

.form-search {
  width: 100%;
  max-width: 285px;
  max-height: 50px;
  background-color: transparent;
  border: 1px solid #C5C9D0;
  border-radius: 30px;
  padding: 15px 23px;
  position: relative;
}

.form-search__input {
  background-color: transparent;
}

.form-search__btn {
  background-color: transparent;
  border: none;
}

.form-search__icon {
  max-width: 19px;
  max-height: 19px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 32%;
  left: 85%;
}

.callback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
  grid-template-columns: 7fr 1fr;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback-form {
  font-weight: 600;
  color: #000;
  margin: 0 40px 0 0;
}

.callback-form__icon {
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
}

.header-social__icons {
  display: none;
}

.header-menu__menu {
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.header-menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-menu span:first-child {
  top: 2px;
}

.header-menu span:last-child {
  top: 18px;
}

.header-menu__inner {
  display: none;
  padding: 110px 0 100px;
}

.header-menu__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(1fr, 470px) minmax(1fr, 79px);
  grid-template-rows: minmax(1fr, 470px) minmax(1fr, 79px);
}

.header-menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
  white-space: nowrap;
  justify-items: end;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  row-gap: 35px;
  margin: 0 0 138px;
  position: relative;
}

.header-menu__item {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 49px;
  text-transform: lowercase;
  text-decoration: none;
}

.header-menu__item:hover,
.header-menu__item:active {
  color: #833CFA;
}

.header-menu__sublist {
  display: none;
}

.header-menu__subitem-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-menu__subitem-link:hover {
  color: #833CFA;
}

.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 11px;
}

.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header-menu--open {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 230px;
     -moz-column-gap: 230px;
          column-gap: 230px;
}

.header-menu-sublist--open {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__btn {
  background-color: transparent;
  border: 1px solid #833CFA;
  color: #833CFA;
  max-width: 369px;
  width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-menu__btn:hover {
  background-color: #833CFA;
  color: #fff;
}

.intro-inner {
  text-align: left;
  width: 100%;
  max-width: 532px;
}

.intro-inner__title--actient {
  color: #fff;
  font-size: 4rem;
  line-height: 87px;
}

.intro-inner__text {
  width: 100%;
  max-width: 532px;
}

.intro-inner__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-call__input {
  width: 100%;
  max-width: 285px;
  border: 1px solid #B5B6D7;
  border-radius: 30px;
  padding: 13px 128px 13px 20px;
  background-color: transparent;
  color: #fff;
  margin: 0 30px 0 0;
}

.form-call__input::-webkit-input-placeholder {
  color: #B5B6D7;
}

.form-call__input::-moz-placeholder {
  color: #B5B6D7;
}

.form-call__input:-ms-input-placeholder {
  color: #B5B6D7;
}

.form-call__input::-ms-input-placeholder {
  color: #B5B6D7;
}

.form-call__input::placeholder {
  color: #B5B6D7;
}

.services-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 390px) minmax(200px, 390px) minmax(200px, 390px);
  grid-template-columns: minmax(200px, 390px) minmax(200px, 390px) minmax(200px, 390px);
  grid-column-gap: 30px;
}

.services-cards__item {
  padding: 44px 42px 50px 50px;
  -webkit-box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.services-cards__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services-cards__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 98%;
  height: 98%;
  top: 1px;
  left: 1px;
  z-index: -1;
  max-width: 390px;
  max-height: 339px;
  border-radius: 20px;
  background-color: #833CFA;
}

.services-cards__item::before:hover {
  -webkit-transform: translate3d(50px 50px 0);
          transform: translate3d(50px 50px 0);
}

.cards-item__icon {
  max-width: 41px;
  max-height: 42px;
  position: relative;
}

.cards-item__icon::before {
  content: "";
  background-image: url("../img/icons/icons.svg#plate");
  background-position: center;
  background-size: 81px;
  background-repeat: no-repeat;
}

.cards-item__title {
  margin: 27px 0 20px;
  font-weight: 700;
  color: #000;
}

.cards-item__text {
  color: #6E7097;
}

.seo-wrapper {
  background-image: url("../img/seo-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seo__img {
  width: 100%;
  max-width: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.seo-info__subtitle {
  color: #6E7097;
}

.seo-info__title {
  margin: 8px 0 40px;
}

.seo-info__text {
  margin: 0 0 40px 0;
}

.marketing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(400px, 600px) minmax(300px, 455px);
  grid-template-columns: minmax(400px, 600px) minmax(300px, 455px);
  grid-column-gap: 175px;
}

.marketing-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 0 50px 0;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  white-space: nowrap;
}

.marketing-list__item:hover {
  color: #D896FA;
}

.marketing-list__item:hover.marketing-list__icon {
  color: #D896FA;
  fill: #D896FA;
}

.marketing-list__item:hover::before {
  content: url(../img/icons/icons.svg#arrow_purp);
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  right: 23px;
  max-width: 16px;
  margin: 0 0 0 10px;
  color: #D896FA;
  fill: #D896FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marketing-list:last-child {
  margin: 0;
}

.marketing-list__icon {
  width: 100%;
  height: 100%;
  max-height: 40px;
  max-width: 40px;
  margin: 0 25px 0 0;
}

.marketing-cards__link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.marketing-cards__header {
  margin: 100px 0 80px;
}

.marketing-cards__title {
  margin: 20px 0 50px;
}

.marketing-cards__wrapper {
  margin: 100px 0 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 390px));
  gap: 30px;
}

.marketing-cards__item {
  height: 339px;
  padding: 38px 30px 40px 40px;
}

.marketing-cards__item:hover {
  -webkit-box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.2);
}

.marketing-cards__item-icon {
  max-width: 45px;
  max-height: 45px;
  width: 100%;
  height: 100%;
  color: linear-gradient(90deg, rgb(131, 60, 250) 0%, rgb(189, 60, 250) 100%);
  margin: 0 25px 0 0;
}

.marketing-cards__item-icon::before {
  content: "";
  display: block;
  width: 81px;
  height: 78px;
  background-color: #F6F7FA;
  border-radius: 40px;
}

.marketing-cards__btn {
  margin: 0 auto 100px;
  display: block;
}

.certificates {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificates__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.certificates-btn {
  background-color: #E5EAF5;
  position: absolute;
  top: 231px;
}

.certificates-btn::before {
  content: "";
  display: block;
  background-image: url(../img/icons/icons.svg#arrow);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.certificates-btn__next {
  left: 105%;
}

.certificates-btn__prev {
  left: -10%;
}

.certificates-btn__prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.certificates-slider-container {
  width: 100%;
  max-width: 1230px;
  margin: 50px 0 0 0;
}

.certificates-item {
  position: relative;
  margin: 0 37px 0 0;
  cursor: pointer;
}

.certificates-item:last-child {
  margin: 0;
}

.certificates-item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 106, 169, 0.5);
  background-image: url(../img/icons/icons.svg#zoom);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
}

.reviews-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__btn {
  display: block;
  margin: 60px auto 0;
  padding: 15px 34px;
  width: 198px;
  max-height: 50px;
}

.reviews-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-navigation__btn {
  cursor: pointer;
}

.reviews-navigation__btn:hover {
  background-color: #7932EF;
}

.reviews-navigation__btn:hover svg {
  color: #fff;
  fill: #fff;
}

.reviews-navigation__prev {
  margin: 0 30px 0 0;
}

.arrow {
  width: 24px;
  height: 16px;
}

.arrow__next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.slider-body {
  -webkit-transform: translateX(18%);
      -ms-transform: translateX(18%);
          transform: translateX(18%);
  width: 1650px;
}

.cards-item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.cards-item__text-reviews {
  margin: 30px 0 34px;
  color: #6E7097;
}

.reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 390px;
  height: 347px;
  padding: 30px 0 0 40px;
}

.reviews-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reviews-item__img {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 15px 0 0;
}

.reviews-item__conpany {
  margin: 0 0 5px 0;
  font-size: 1.25rem;
  color: #000;
  font-weight: 800;
}

.reviews-item__name {
  color: #000;
}

.reviews-item__full {
  color: #833CFA;
  text-decoration: underline;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

.reviews-item__video-info {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 225px;
  left: 40px;
  z-index: 10;
}

.reviews-item__video-date {
  margin: 0 0 0 -15px;
}

.reviews-item__conpany--video {
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 15px 0 0;
}

.reviews-item--video {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.reviews-item--video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.reviews-video {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.video-play {
  width: 16px;
  height: 20px;
  border-radius: 2px;
  position: relative;
  bottom: 75px;
  left: 150px;
}

.video-play::before {
  content: "";
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.credits-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credits-top__title {
  margin: 0 0 9px 0;
}

.credits-top__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

.credits-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.credits-slider__text {
  width: 100%;
  max-width: 495px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.credits-slider__wrapper {
  width: 1650px;
  -webkit-transform: translateX(510px);
      -ms-transform: translateX(510px);
          transform: translateX(510px);
  position: relative;
}

.credits-slider__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: -40px 40px 100px rgba(42, 76, 129, 0.35);
          box-shadow: -40px 40px 100px rgba(42, 76, 129, 0.35);
}

.credits-slider__item {
  position: relative;
}

.credits-slider__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: -40px 40px 100px rgba(42, 76, 129, 0.35);
          box-shadow: -40px 40px 100px rgba(42, 76, 129, 0.35);
}

.credits-slider__item {
  border-radius: 10px;
}

.credits-slider__img {
  width: 100%;
  height: 100%;
  max-width: 390px;
  max-height: 546px;
}

.seo-cards {
  margin: 100px 0;
}

.seo-cards__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px 0 0;
}

.seo-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 285px;
  max-height: 120px;
  background-color: #F6F7FA;
  border-radius: 5px;
  padding: 44px 0 45px 35px;
}

.seo-cards__item:hover {
  border: 1px solid #833CFA;
}

.seo-cards__icon {
  width: 100%;
  height: 100%;
  max-width: 31px;
  max-height: 31px;
  margin: 0 26px 0 0;
}

.seo-cards__item-btn {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seo-order__wrapper {
  background-color: #833CFA;
  border-radius: 30px;
  padding: 60px 0 60px 90px;
  position: relative;
  max-width: 95%;
  margin: 0 auto;
}

.seo-order__wrapper::before {
  content: "";
  display: block;
  background-image: url("../img/seo-human.png"), url(../img/seo-accent1.png), url(../img/seo-accent2.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 950px;
  max-height: 500px;
}

.seo-order__content {
  max-width: 390px;
  margin: 0 0 40px 0;
}

.seo-title {
  line-height: 65px;
}

.content-text {
  margin: 20px 0 0;
}

.seo-clients__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seo-clients__item {
  width: 100%;
  max-width: 194px;
  opacity: 0.5;
}

.seo-clients__item:hover {
  opacity: 1;
}

.portfolio-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-item {
  margin: 0 30px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.portfolio-item__info {
  margin: 30px 0 0;
}

.portfolio-item__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 27.3px;
}

.portfolio-item__text {
  font-size: 1rem;
  line-height: 22px;
  color: #000;
}

.portfolio-item__full {
  display: block;
  text-decoration: none;
  color: #833CFA;
  position: absolute;
  bottom: 43px;
}

.portfolio-item__full::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 90px;
  max-width: 16px;
  margin: 0 0 0 10px;
  background-image: url("../../img/icons/icons.svg#arrow");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 43px 20px;
}

.cards-item--big {
  height: 100%;
  min-height: 530px;
}

.portfolio-cards__img {
  width: 350px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.blog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0 60px;
}

.blog-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
  grid-template-columns: repeat(4, 300px);
  -ms-grid-rows: (345px)[2];
  grid-template-rows: repeat(2, 345px);
  grid-auto-rows: 345px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  position: relative;
  -webkit-box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.2);
}

.blog-item__img-wrapper {
  width: 100%;
  max-height: 183px;
}

.blog-item__img-wrapper--lg {
  max-height: 699px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.blog-item__img-wrapper--lg::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(41.9%, rgba(18, 22, 36, 0.5)), color-stop(75.51%, rgba(18, 22, 36, 0)));
  background: -o-linear-gradient(bottom, rgba(18, 22, 36, 0.5) 41.9%, rgba(18, 22, 36, 0) 75.51%);
  background: linear-gradient(0deg, rgba(18, 22, 36, 0.5) 41.9%, rgba(18, 22, 36, 0) 75.51%);
}

.blog-item__img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.blog-item__img--lg {
  max-height: 720px;
  width: auto;
}

.blog-item__info {
  padding: 0 5px 0 10px;
}

.blog-item__info--lg {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 0;
  padding: 0 43px 0 50px;
}

.blog-item__title {
  margin: 25px 0;
  font-size: 1.25rem;
  line-height: 27px;
  font-weight: 700;
}

.blog-item__text {
  margin: 20px 0 35px;
  font-size: 1rem;
}

.blog-item__date {
  margin: 0 0 8px;
  color: #6E7097;
  font-size: 1rem;
  line-height: 22px;
}

.blog-item__date--white {
  color: #fff;
}

.footer__wrapper {
  width: 100%;
  background-color: #1B153E;
  padding: 80px 0 0;
  margin: 100px 0 0 0;
}

.footer-bottom__wrapper {
  width: 100%;
  background-color: #231E46;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 60px 0;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contact__info {
  margin: 35px 0 40px;
}

.footer-contact__tel {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  text-decoration: none;
  margin: 0 0 9px;
}

.footer-contact__btn {
  max-width: 198px;
  margin: 0 0 53px;
}

.mail-footer {
  color: #fff;
  text-decoration: none;
}

.mail-footer__icon {
  width: 18px;
  height: 18px;
  margin: 1px 10px 0 0;
}

.footer-menu {
  margin: 0 0 0 150px;
}

.footer-menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  margin: 35px 0 0;
}

.footer-menu__item {
  font-weight: 700;
  font-size: 1.25rem;
}

.footer-menu__sublist {
  display: -ms-grid;
  display: grid;
  margin: 35px 0;
}

.footer-menu__sublist--col1 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.footer-menu__sublist--col2 {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
}

.footer-menu__subitem {
  margin: 10px 0 10px;
  font-weight: 400;
  font-size: 1rem;
}

.footer-menu__subitem-link {
  cursor: pointer;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__social {
  max-height: 34px;
}

.footer-bottom__social-icon {
  width: 34px;
  max-height: 34px;
  margin: 0 15px 0 0;
}

.footer-bottom__social-icon:last-child {
  margin: 0;
}

.copyright__link {
  color: #fff;
  margin: 0 0 0 32px;
  text-decoration: none;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diez-icon {
  width: 100%;
  max-width: 81px;
  height: 17px;
  margin: 0 0 0 8px;
}

.logo-footer {
  max-height: 46px;
  width: 170px;
}

@media (min-width: 666px) {
  .blog-item:first-child {
    grid-row: auto/span 2;
    grid-column: auto/span 2;
  }
}

@media (min-width: 1201px) {
  .header-menu-sublist--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 130%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1300px) {
  .seo-order__wrapper::before {
    background-size: 425px, 190px, 230px;
    background-position-x: 68%, 96%, 103%;
    background-position-y: 8px, -22px, 122px;
    top: 18%;
    left: 28%;
  }
}

@media (max-width: 1400px) {
  .footer-contact__tel {
    font-size: calc(1rem + 1vw);
    line-height: calc(2rem + 1vw);
  }
}

@media (max-width: 1350px) {
  .blog-body {
    -ms-grid-columns: (300px)[2];
    grid-template-columns: repeat(2, 300px);
    -ms-grid-rows: (345px)[4];
    grid-template-rows: repeat(4, 345px);
  }
}

@media (max-width: 1300px) {
  .seo-order__wrapper::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 325px, 141px, 147px;
    background-position-x: 73%, 89%, 94%;
    background-position-y: 3%, -7%, 32%;
    top: 40%;
    left: 13%;
  }
}

@media (max-width: 1260px) {
  .footer-menu {
    margin: 0 0 0 60px;
  }

  .footer-menu__sublist--col2 {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
}

@media (max-width: 1200px) {
  .header-body {
    -ms-grid-columns: 180px 1fr 2fr;
    grid-template-columns: 180px 1fr 2fr;
  }

  .form-search__btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .header-menu__menu {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .header-menu__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .header-menu--open {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .marketing-list__item:hover::before {
    right: 10px;
  }

  .credits-slider__text {
    max-width: 400px;
  }

  .credits-slider__wrapper {
    -webkit-transform: translateX(450px);
        -ms-transform: translateX(450px);
            transform: translateX(450px);
  }

  .seo-cards__wrapper {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .seo-cards__item {
    padding: 44px 0 45px 15px;
  }

  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-bottom__social {
    margin: 0 0 20px 0;
  }

  .copyright {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1100px) {
  .callback-form {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 1090px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-contact__info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }

  .footer-contact__btn {
    max-width: 100%;
  }

  .footer-menu {
    margin: 0 auto;
  }

  .footer-menu__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-menu__sublist--col1 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
}

@media (max-width: 1000px) {
  .logo__icon {
    max-height: 24px;
    max-width: 89px;
  }

  .header-wrapper {
    display: none;
  }

  .intro-wrapper {
    background-position: 73% center;
    max-height: 100vh;
  }

  .marketing-wrapper {
    max-height: 100%;
  }

  .title {
    font-size: calc(2rem + 1vw);
    line-height: calc(3rem + 1vw);
  }

  .content-title {
    font-size: calc(2rem + 1vw);
    line-height: calc(2.3rem + 1vw);
  }

  .content-text--md,
  .content-text--lg {
    font-size: calc(0.8rem + 1vw);
    line-height: calc(1.5rem + 1vw);
  }

  .header-social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-social__icon {
    width: 100%;
    height: 100%;
    max-width: 34px;
    max-height: 34px;
    margin: 0 15px 0 0;
  }

  .header-social__icon:last-child {
    margin: 0;
  }

  .intro-inner__title--actient {
    font-size: calc(2.2rem + 1vw);
    line-height: calc(3rem + 1vw);
  }

  .intro-inner__form-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .form-call__input {
    margin: 0;
  }

  .marketing {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
    justify-items: start;
    padding-bottom: 220px;
  }

  .marketing-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .marketing-list__item:hover::before {
    display: none;
  }

  .marketing-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 1px solid #D896FA;
    border-radius: 40px;
    padding: 16px 70px;
  }

  .slider-body {
    -webkit-transform: translateX(1%);
        -ms-transform: translateX(1%);
            transform: translateX(1%);
  }
}

@media (max-width: 992px) {
  .marketing-wrapper::before {
    bottom: -5%;
  }

  .seo {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 45px;
    justify-items: center;
  }

  .seo-info {
    max-width: 80%;
  }

  .marketing-list__icon {
    height: 32px;
    width: 32px;
  }

  .seo-order__content {
    max-width: 350px;
  }

  .seo-order__form-wrapper {
    max-width: 350px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .seo-order__input {
    margin: 0 0 20px 0;
  }

  .seo-order__btn {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 770px) {
  .seo-cards__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .seo-cards__item {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 19px 0 19px 30px;
    font-weight: 700;
  }

  .seo-cards__item-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 19px 0;
    font-weight: 700;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .intro-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    padding: 30px 0 215px;
  }

  .intro-inner__form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 400px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .form-call__input {
    margin: 0 0 15px 0;
    max-width: 100%;
  }

  .marketing-list__item {
    white-space: normal;
  }

  .reviews-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider-body {
    width: 100%;
  }

  .credits-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .credits-slider__text {
    position: relative;
  }

  .credits-slider__wrapper {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    margin: 30px 0 0;
  }

  .seo-order__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: 620px;
    padding-bottom: 250px;
    margin: 0 auto 50px;
  }

  .seo-order__wrapper::before {
    top: 62%;
    left: -30%;
    background-position-x: 68%, 96%, 103%;
    background-position-y: 4%, 1%, 32%;
  }
}

@media (max-width: 667px) {
  .blog-body {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: 461px (345px)[4];
    grid-template-rows: 461px repeat(4, 345px);
  }

  .blog-item:first-child {
    max-height: 461px;
  }

  .blog-item__img--lg {
    max-height: 470px;
  }

  .blog-item__info--lg {
    top: 50px;
    padding: 0 13px 0 20px;
  }
}

@media (max-width: 576px) {
  .marketing-wrapper::before {
    left: 20%;
  }

  .intro-inner {
    max-width: 95%;
  }

  .intro-inner__text {
    max-width: 80%;
  }

  .intro-inner__form-wrapper {
    max-width: 100%;
  }

  .marketing-list__item {
    white-space: nowrap;
    padding: 16px 0 16px 30px;
    font-size: 0.875rem;
  }

  .marketing-list__icon {
    margin: 0 15px 0 0;
  }

  .seo-order__wrapper::before {
    background-size: 252px, 125px, 118px;
    background-position-x: 53%, 88%, 99%;
    background-position-y: 7px, 0, 98px;
    top: 66%;
    left: -19%;
  }
}

@media (max-width: 400px) {
  .marketing-wrapper::before {
    left: 13%;
  }
}