.footer {
	background-color: $dark-blue;
	width: 100wh;
	overflow-x: hidden;
}

.logo-footer {}

.footer-top {
	display: flex;
	align-items: center;
	height: 474px;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: #fff;
	flex: 0 0 40%;

	&__info {
		display: flex;
		flex-direction: column;
		margin: 35px 0 0 0;
	}

	&__timetable {
		font-size: rem(16);
		line-height: 21px;
		font-weight: 400;
		margin: 10px 0 40px;
	}
}

.callback-form {}

.footer-body {

	&__tel {
		color: #fff;
		font-size: rem(32);
		font-weight: 700;
		line-height: 34px;
	}

	&__btn {
		max-width: 198px;
		margin: 0 0 53px 0;
	}
}

.mail-footer {}

.footer-service {
	color: #fff;
	flex: 0 0 60%;

	&__list {
		display: flex;
		white-space: nowrap;
	}

	&__item {
		margin: 0 100px 0 0;
		font-weight: 700;
		font-size: rem(20);
	}

	&__sublist {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 35px 0 0;
	}

	&__subitem {
		font-weight: 400;
		font-size: rem(16);
		line-height: 22px;
		margin: 20px 0 0;
	}
}

.footer-bottom {
	background-color: #231E46;
	max-height: 108px;

	&__social {}
}

.copyright {}

.sign {}

.diez-icon {
	width: 81px;
	height: 17px;
}