.header {}

.header-top {

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;

		font-size: rem(14);
		line-height: 19px;

	}

	&__description {}

	&__contact {
		display: flex;
		justify-content: space-between;
	}
}

.mail-header {
	margin: 0 111px 0 0;
}

.adress-header {
	font-style: normal;
}

.header-body {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 19px 0;
	}

	&__tel {}

	&__btn {}
}

.form-search {
	width: 100%;
	max-width: 285px;
	background-color: #fff;
	border: 1px solid #C5C9D0;
	border-radius: 30px;
	padding: 15px 23px;

	&__input {
		background-color: #fff;
		outline: transparent;

	}
}

.callback-form {
	font-weight: 600;
	font-size: rem(20);
	line-height: 27px;
	color: #000;
}

.header-menu {

	&__menu {}

	&__list {}

	&__item {}

	&__sublist {}

	&__subitem {}

	&__btn {}
}