.pt {
	&--10 {
		padding-top: rem(10);
	}

	&--20 {
		padding-top: rem(20);
	}

	&--30 {
		padding-top: rem(30);
	}

	&--40 {
		padding-top: rem(40);
	}

	&--50 {
		padding-top: rem(50);
	}

	&--60 {
		padding-top: rem(60);
	}

	&--70 {
		padding-top: rem(70);
	}

	&--80 {
		padding-top: rem(80);
	}

	&--90 {
		padding-top: rem(90);
	}

	&--100 {
		padding-top: rem(100);
	}
}

.pb {
	&--10 {
		padding-bottom: rem(10);
	}

	&--20 {
		padding-bottom: rem(20);
	}

	&--30 {
		padding-bottom: rem(30);
	}

	&--40 {
		padding-bottom: rem(40);
	}

	&--50 {
		padding-bottom: rem(50);
	}

	&--60 {
		padding-bottom: rem(60);
	}

	&--70 {
		padding-bottom: rem(70);
	}

	&--80 {
		padding-bottom: rem(80);
	}

	&--90 {
		padding-bottom: rem(90);
	}

	&--100 {
		padding-bottom: rem(100);
	}
}