.footer {
	display: flex;
	width: 100%;
	background-color: $gray;
	align-items: center;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0 10px;

		@media(max-width:450px) {
			flex-direction: column;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media(max-width:450px) {
			margin: 0 0 20px;
		}
	}

	&__title {
		font-size: 1.4rem;
		color: #fff;
		font-weight: 300;
		margin: 0 0 5px;
	}

	&__social {}

	&__right {}
}

.social {

	&__icon {
		margin: 5px;
		width: 20px;
		max-height: 23px;
		fill: #fff;

	}
}

.copyright {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;

	a {
		color: $orange;
	}
}