.form-call {
	&__input {
		width: 100%;
		max-width: rem(285);
		border: 1px solid $light-gray;
		border-radius: 30px;
		padding: rem(13) rem(50) rem(13) rem(20);
		background-color: transparent;
		color: #fff;

		margin: 0 rem(30) 0 0;

		&::placeholder {
			color: $light-gray;
		}

		@media(max-width:1200px) {
			margin: 0 0 rem(15) 0;
			padding: rem(13) rem(20);
			max-width: 100%;
		}
	}
}