.cards-seo {
	padding: rem(100) 0;

	@media(max-width:992px) {
		padding: rem(20) 0;
	}


	&__item {
		max-width: rem(285);
		max-height: rem(120);
		background-color: $light-gray;
		border-radius: 5px;
		padding: rem(44) 0 rem(45) rem(35);

		@media(max-width:1200px) {
			min-width: 100%;
			max-height: auto;
			padding: rem(44) 0 rem(45) 20%;
		}

		@media(max-width:992px) {
			max-width: 100%;
			width: 100%;
			padding: rem(15) rem(10);
			font-weight: 700;
		}

		&:hover {
			outline: 1px solid $purple;
		}
	}

	&__item-link {
		display: flex;
		align-items: center;

		@media(max-width:768px) {
			justify-content: start;
		}
	}

	&__icon {
		width: 100%;
		height: 100%;
		max-width: 31px;
		max-height: 31px;

		margin: 0 26px 0 0;
	}

	&__item-btn {
		padding: 0;
		justify-content: center;

		@media(max-width:770px) {

			justify-content: center;
			padding: 19px 0;
			font-weight: 700;
			font-size: rem(16);
		}
	}

	&__text {
		font-size: rem(18);
		line-height: rem(28);
		font-weight: 600;
		color: #000;

		@media(max-width:992px) {
			font-size: rem(16);
			line-height: rem(22);
		}
	}
}