.footer-see-more {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #EDEDED;
	padding: 21px 0;
	text-align: center;

	font-weight: 600;
	font-size: rem(24);
	line-height: 29px;

	color: $mainText;

	&__arrow-dw {
		width: 100%;
		height: 100%;

		max-width: 15px;
		max-height: 9px;

		margin-left: 9.33px;
	}
}

.footer-body-wrapper {
	display: flex;
	align-items: center;
	margin: 0 55px auto 130px;
	position: relative;

	@media(max-width:1100px) {
		flex-direction: column;
		margin: 0 auto;
	}
}

.footer-body {

	background-color: #141414;
	padding: 100px 0 80px;
	color: $white;
	bottom: auto;
	position: relative;

	&__left {
		margin: 0 25% 0 0;
		position: relative;

		@media(max-width:1280px) {
			margin: 0 10% 0 0;
		}

		@media(max-width:1100px) {
			margin: 0 0 140px 0;
		}

	}


	&__contact {
		display: flex;
		align-items: center;

		@media(max-width:1100px) {
			flex-direction: column;
		}

	}
}

.footer-title {
	@media(max-width:1100px) {
		margin: 60px 0 0;
		font-size: rem(24);
		line-height: 29px;
	}
}

.footer-title--logo {
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -145px;
		left: -100px;
		width: 290px;
		height: 310px;
		transform: translateZ(-1px);

		background-image: url(../img/logo-footer.png);
		background-repeat: no-repeat;
		background-position: left;
		background-size: contain;

		@media(max-width:1100px) {
			margin: 20px 0 0 0;
			left: 0;
		}
	}
}


.footer-title {
	font-weight: 700;
	font-size: rem(32);
	line-height: 36px;
	text-transform: uppercase;
	color: $white;
	white-space: nowrap;
	text-align: right;

	@media(max-width:1100px) {
		text-align: center;
		white-space: pre-line;
		width: 250px;
	}
}

.btn--footer {
	margin: 0 0 0 40px;
	padding: 18px 55px;

	@media(max-width:1100px) {
		margin: 40px 0;
	}
}

.copyright {
	display: block;
	text-align: end;
	font-size: rem(14);
	line-height: 17px;
	margin: 36px 37px 0;
	position: absolute;

	top: 50px;
	right: -50px;


	@media(max-width:1100px) {
		position: static;
		text-align: center;
	}
}