.tabs {
	margin: 40px 0 80px;

	&__img {
		width: 100%;
		max-width: 700px;

	}
}

.tabs-body {

	@media(max-width:1270px) {
		display: flex;
		justify-content: center;
	}
}

.tabs-nav {
	@media(max-width:1270px) {
		display: flex;
		justify-content: center;
	}
}


.btn--tabs {
	background-color: $white;
	color: rgba(0, 0, 0, 0.5);
	border: 1px solid #F9F9F9;
	padding: 20px 0;
	width: 256px;

	&:last-child {
		margin: 0 0 0 10px;
	}

	&.active {
		background-color: $gold;
		color: $white;
		border-radius: 8px;
		padding: 20px;
		font-family: 'Montserrat', sans-serif;
		font-size: rem(18);
		font-weight: 600;
	}
}

.tabs-content {
	display: none;

	&.active {
		display: flex;
	}

	@media(max-width:1270px) {
		flex-direction: column;
	}
}

.tabs-text {
	display: flex;
	flex: 50%;
	flex-direction: column;
	justify-content: space-between;
	margin: 40px 44px 0 0;

	@media(max-width:1270px) {
		margin: 30px 0 85px 0;
	}
}

.tabs-list {

	&__item {
		list-style: none;

		&::before {
			content: "";
			flex: 0 0 2px;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			color: $boldText;
			align-items: center;
		}
	}
}

.compass {
	position: absolute;

	bottom: 44.5px;
	left: -184px;

	width: 142px;
	height: 80px;

	@media(max-width:1270px) {
		top: -55px;
		left: 530px;
	}
}

.tabs-img {
	position: relative;
	transform: translateY(-63px);
}