.location-inner {
	display: flex;
	margin: 40px 0 80px;
	flex-wrap: wrap;

	&__item {
		display: flex;
		align-items: flex-end;
		flex: 33.33333%;
		margin: 30px auto;

		@media(max-width:990px) {
			flex: 50%;
			justify-content: center;
		}

		@media(max-width:640px) {
			flex: 100%;
			justify-content: center;
		}
	}

	&__item-icon {
		width: 70px;
		height: auto;
		max-height: 80px;
		margin-right: 20px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		color: #666666;
	}

	&__info-title {
		font-family: 'Athelas';
		font-size: rem(32);
		line-height: rem(36);
		text-transform: uppercase;
	}

	&__info-num {
		font-family: 'Noir Pro';
		font-weight: 300;
		font-size: rem(46);
		line-height: rem(48);
	}

	&__info-suptitle {
		font-size: rem(16);
		line-height: rem(20);
	}
}