* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
	outline: none;

	&:focus {
		outline: $light-gray;
	}
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button:hover,
button:active,
button:focus {
	transition: all .3s ease;
	;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	color: inherit;
	font-style: normal;
}

a:visited {
	text-decoration: inherit;
	font-family: inherit;
	color: inherit;
}

a:hover,
a:focus {
	color: inherit;
	font-family: inherit;
	text-decoration: underline;
	color: inherit;
	transition: all .3s linear;
}


ul,
li {
	list-style: none;
}

img,
picture {
	display: block;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}