// convert px to rem
@function rem($px) {
	$result: calc($px / 16)+rem;
	@return $result;
}


$gray: #F6F7FA;
$purple: #833CFA;
$text-gray: #6E7097;
$light-purple: #D896FA;
$orange: #FF981F;
$dark-blue: #1B153E;
$light-gray: #B5B6D7;